---
layout: anwendungsfall
title: Anwendungsfall HR
---

<h1>Chatbots im HR</h1>
<div class="intro">
    <div class="intro-text">
        <p>«Habe ich Anrecht auf Familienzulagen?» oder «Wo muss ich einen Unfall melden?» - In einer HR-Abteilung eines
            Unternehmens werden sehr oft diese Fragen gestellt. Die Anfragen kommen per Mail, Chat oder Telefon rein und nehmen doch
            einen beträchtlichen Anteil der Arbeitszeit von HR-Mitarbeitenden in Anspruch. In vielen Fällen sind die Antworten
            relativ einfach. Manchmal gilt es ein Formular auszufüllen, oder manchmal reicht auch schon ein simpler Link im Intranet
            als Antwort.</p>
        <p>Solche Fragen kann auch ein Chatbot beantworten und dadurch die HR-Mitarbeitenden entlasten. Zudem beantwortet der
            Chatbot Anfragen auch am Mittag oder am Abend.</p>
    </div>
    <div class="intro-image">
        <img class="anwendungsfall-image" src="/img/undraw_shared_goals.svg" alt="Anwendungsfall HR"/>
    </div>
</div>
<h3>Anbindung an Wissensdatenbank</h3>
<p>Bei vielen Firmen gibt es Wissensdatenbanken in der Form von FAQs. Die Informationen können vom Chatbot gelernt und
    bei Anfragen herangezogen werden. Die mühsame Suche nach der richtigen Wiki-Seite im Intranet entfällt dank des
    Chatbots.</p>
<h3>Anbindung an interne Systeme</h3>
<p>Viele Antworten auf Fragen im HR-Bereich sind sehr individuell. Parameter wie Alter oder Zivilstand können für die
    Antwort massgeblich sein. Solche Informationen sind den HR-Mitarbeitenden selbstverständlich über ein entsprechendes
    System zugänglich. Wenn auch der Chatbot über eine Schnittstelle solche Abfragen zur Person machen darf, kann der
    Chatbot noch bessere Antworten geben. In Bubble Chat können beliebige Schnittstellen angebunden werden.</p>
<h3>Integration von Live-Chat</h3>
<p>Gute Chatbots können einen Grossteil der Anfragen abdecken. Doch es wird unter den Kundenanfragen immer die
    Knacknüsse geben, bei denen eine Person aus dem HR weiterhelfen muss. In einem solchen Fall kann der Chatbot die
    Konversation an einen Experten übergeben. Der HR-Mitarbeiter hat von Anfang an Zugriff auf die Konversation. So muss der
    Kunde nicht erneut die ganze Sachlage beschreiben. Bei Bubble Chat ist die Integration von
    <a href="/funktionen/live-chat/" alt="Live-Chat">Live-Chat</a>
    ein simples Vorhaben.</p>
