---
layout: anwendungsfall
title: Anwendungsfall IT
---

<h1>Chatbots im IT-Support</h1>
<div class="intro">
    <div class="intro-text">
        <p>In vielen Firmen steht der IT-Support unter Dauerstrom. Hier startet ein Laptop nicht mehr, dort ist der Monitor
            defekt und an einem anderen Ort können die Mails in Outlook nicht mehr abgerufen werden. Was bei den entsprechenden
            Fällen unternommen werden könnte, steht oftmals sogar irgendwo in einem Wiki beschrieben. Doch meistens sind diese
            Informationen nicht so einfach auffindbar oder auch nicht so adressatengerecht verfasst.</p>
        <p>Hier kann ein digitaler Helfer in Form eines Chatbots Abhilfe schaffen. Wenn Anfragen reinkommen, gehen die
            IT-Supporter oft einige Checks durch, um das Problem eingrenzen zu können. Dabei kann teilweise bereits eine Lösung
            gefunden werden. IT-Support-Mitarbeiter wenden dafür allerdings wertvolle Zeit auf, welche sie meistens gar nicht haben
            - im Gegensatz zu Chatbots. Chatbots eignen sich sehr gut als erste Anlaufstelle, und sorgen so für eine grosse
            Entlastung im Supportbereich.</p>
    </div>
    <div class="intro-image">
        <img class="anwendungsfall-image" src="/img/undraw_programming.svg" alt="Chatbot im IT Support"/>
    </div>
</div>
<h3>Anbindung an Wissensdatenbank</h3>
<p>Bei vielen Firmen gibt es Wissensdatenbanken in der Form von FAQs. Die Informationen können vom Chatbot gelernt und
    bei Anfragen herangezogen werden. Die mühsame Suche nach der richtigen Wiki-Seite im Intranet entfällt dank des
    Chatbots.</p>
<h3>Anbindung ans Ticketing-System</h3>
<p>Es liegt in der Natur der Sache, dass der Chatbot nicht alle Fragen beantworten kann. Damit die Anfrage möglichst
    zügig an die richtige Stelle geleitet wird, kann ein Ticketing-System integriert werden. Die notwendigen Informationen
    hat der Kunde zu diesem Zeitpunkt bereits eingegeben. Ansonsten kann der Chatbot die Informationen noch abfragen, die er
    zur automatisierten Erstellung eines Tickets braucht. Der Kunde muss sich dadurch nicht mit einem komplizierten
    Ticketing-System rumschlagen, er kann einfach mit dem Chatbot chatten.</p>
<h3>Integration von Live-Chat</h3>
<p>Gute Chatbots können einen Grossteil der Anfragen abdecken. Doch es wird unter den Kundenanfragen immer die
    Knacknüsse geben, bei denen eine Person aus dem IT-Support weiterhelfen muss. In einem solchen Fall kann der Chatbot die
    Konversation an einen Experten übergeben. Der Mitarbeiter hat von Anfang an Zugriff auf die Konversation. So muss der
    Kunde nicht erneut die ganze Sachlage beschreiben. Bei Bubble Chat ist die Integration von Live-Chat ein simples
    Vorhaben.</p>
