---
layout: anwendungsfall
title: Anwendungsfall Kundendienst
---

<h2>Bubble Chat im Kundendienst</h2>

<p>Es gibt nichts Ärgerlicheres, als wenn man bei einem Kundendienst in einer schier endlosen Warteschlaufe Däumchen drehen muss. Oft ist das Personal im Kundendienst heutzutage enorm überlastet und eilt vom einen Case zum nächsten. Im Zuge der Digitalisierung kann ein Chatbot hier Abhilfe schaffen. Ein Chatbot kann viele Anfragen selbständig beantworten und ist rund um die Uhr erreichbar. Und wenn er nicht mehr weiter weiss, zieht er per Live-Chat einen Experten heran. So gewinnen beide Seiten: Die Kundschaft erhält schneller eine Antwort, und das Personal wird entlastet.</p>

<h3>Einsatz verschiedener Kanäle</h3>

<p>WhatsApp, Web, Facebook, etc. - Ein guter Kundendienst ist über die Kanäle erreichbar, auf welchen sich seine Kundschaft am liebsten bewegt. Ein Chatbot kann mehrere Kanäle gleichzeitig bedienen. Kommt eine Plattform neu dazu, kann diese beim Chatbot ergänzt werden, ohne dass der Chatbot komplett neu aufgebaut werden muss.</p>

<h3>Anbindung an interne Systeme</h3>

<p>Wenn der Chatbot Zugriff auf interne Systeme hat, kann den Kunden noch zielführender geholfen werden. Sofern der Kunde authentifiziert ist, können beispielsweise Informationen aus einem CRM-System gelesen werden. So hat der Chatbot Informationen im Zugriff, welche die Anfrage besser bearbeiten lassen. In Bubble Chat können beliebige Systeme angebunden werden. Die Voraussetzung ist lediglich, dass das System eine Schnittstelle anbietet, über welche die gewünschten Daten abgefragt werden können.</p>

<h3>Integration von Live-Chat</h3>

<p>Gute Chatbots können einen Grossteil der Anfragen abdecken. Doch es wird unter den Kundenanfragen immer die Knacknüsse geben, bei der eine Person aus dem Kundendienst weiterhelfen muss. In einem solchen Fall kann der Chatbot die Konversation an einen Experten übergeben. Der Mitarbeiter hat von Anfang an Zugriff auf die Konversation. So muss der Kunde nicht erneut die ganze Sachlage beschreiben. Bei Bubble Chat ist die Integration von Live-Chat ein simples Vorhaben.</p>
