.cta-request-demo-dark {
  color: white;

  background-color: var(--color-background-black);
  background-position: unset;

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  & .container {
    padding-bottom: 50px;
    padding-top: 50px;

    & .content {
      max-width: 800px;

      & .description {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      & p {
        margin-top: 1rem;
      }

      & .button {
        font-size: 1.2rem;
        color: #85a5ff;
      }
    }
  }
}

@media (--media-desktop-size) {
  .cta-contact {
    padding: 0px 40px;
    background-position: center bottom;

    & .container {
      padding-bottom: 152px;
      padding-top: 152px;
    }
  }
}
