.cta-request-demo {
  background-color: white;

  display: flex;
  justify-content: center;

  & .container {
    padding-bottom: 50px;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    & .content {
      max-width: 900px;
      display: flex;
      flex-direction: column;

      & .logo {
        display: none;
      }

      & img {
        max-width: 40%;
        margin-bottom: 1rem;
      }

      & p {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      & .button {
        font-size: 1.2rem;
      }
    }
  }
}

@media (--media-desktop-size) {
  .cta-request-demo {
    padding: 0px 40px;

    & .container {
      padding-bottom: 152px;
      padding-top: 152px;

      & .content {
        align-items: center;

        & .logo {
          display: block;
        }

        & h2 {
          text-align: center;
        }

        & p {
          text-align: center;
        }
      }
    }
  }
}
