.cta-request-demo {
  background-color: white;

  display: flex;
  justify-content: center;

  padding: 0px 40px;
  /* margin-top: 3rem; */

  & .container {
    padding-bottom: 152px;
    padding-top: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .content {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & img {
        max-width: 40%;
        margin-bottom: 1rem;
      }

      & h2 {
        text-align: center;
      }

      & p {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      & .button {
        font-size: 1.2rem;
        color: #85a5ff;
      }
    }
  }
}
