.section-features {
  --card-margin: 10px;
  --card-padding: 30px;

  background-color: white;

  & .container {
    margin: 0;
    padding: 0;
    width: 100%;

    & .feature-list {
      & .feature {
        background-color: var(--color-background-gray);

        & .content {
          padding: var(--card-padding);
          display: flex;
          flex-direction: column;

          & .subtitle {
            padding-bottom: 1rem;
            font-weight: 300;
          }
        }

        & .image {
          padding: 0 var(--card-padding) var(--card-padding) var(--card-padding);

          & img {
            width: 100%;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

@media (--media-desktop-size) {
  .section-features {
    padding-top: calc(2 * var(--card-margin));
    padding-bottom: calc(2 * var(--card-margin));

    & .container {
      width: calc(100% - calc(var(--container-padding) * 2));
      padding: 0 var(--container-padding);

      & .feature-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & .feature {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          justify-content: space-between;

          flex-basis: calc(50% - var(--card-margin));
          margin-bottom: calc(2 * var(--card-margin));

          &:nth-child(odd) {
            margin-right: var(--card-margin);
          }

          &:nth-child(even) {
            margin-left: var(--card-margin);
          }
        }
      }
    }
  }
}
