<!DOCTYPE HTML>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="msapplication-TileColor" content="#722ed1">
        <meta name="theme-color" content="#722ed1">

        <link rel="stylesheet" href="{% webpackAsset 'main.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2SSG8FH1DX"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-2SSG8FH1DX');
        </script>

        {% seo "" %}

        {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap' %}
    </head>
    <body 
        {% if page.url === "/" %}
            class="page page-home"
        {% else %}
            class="page page-subpage"
        {% endif %}
    >
        {% include 'sections/header.njk' %}

        <main>
            {{ content | safe }}
        </main>

        {% include 'sections/footer.njk' %}

    </body>
</html>
