---
layout: default
---
<div class="faq-page">
    <div class="container">
    <h1>{{title}}</h1>
    <p>In unserem FAQ findet man Antworten auf unzählige Fragen zu unserem Bubble Chat Produkt. Doch warum sich die Mühe machen, nach der richtigen Frage zu suchen? </p>
    <p>Stattdessen können Sie Ihre Frage ganz unkompliziert direkt an unseren Chatbot
        <a class="button chat-with-chatbot" href="#"><strong>Bubbly</strong></a> richten.
    </p>
    {% getFAQCode %}
    </div>
</div>

   