---
layout: default
---
<div class="faq-page">
    <div class="container">
    <h1>{{title}}</h1>
    <p>Hier sind einige Fragen und Antworten rund um Bubble Chat und Chatbots.<br/>
    Sie finden FAQs etwas unübersichtlich? Wir auch. Chatten Sie stattdessen mit
        <a class="button chat-with-chatbot" href="#"><strong>Bubbly</strong></a>.
    </p>
    {% getFAQCode %}
    </div>
</div>

   