---
layout: default
---
<div class="feature container">

  {% if eleventyNavigation %}
    {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({listClass:'breadcrumb'}) | safe }}
  {% endif %}

  <div class="feature-content">
    <h1>
      {% if displayTitle %}
          {{ displayTitle | safe }}
      {% else %}
          {{ title }}
      {% endif %}
    </h1>

    {% if not rootTag and not eleventyNavigation %}
      <div class="tags">
        <ul>
          {%- for tag in tags -%}
            <li>
            {%- set tagUrl %}/funktionen/{{ tag | slug }}/{% endset -%}
              <a href="{{ tagUrl | url }}">{{ tag }}</a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    {% endif %}

    {{ content | safe }}

  </div>
</div>

{% if rootTag %}
  {% set postslist = collections[rootTag] %}
  {% if postslist %}
  
    <a id="related" style="display:block; position:relative; top:-50px; visibility: hidden;"></a>

    <div style="background-color: #f5f5f7; margin-top: 4rem; padding-top: 3rem; padding-bottom: 4rem;">
      <div class="container">

        {% if followUpTopicTitle %}
          <h2 style="margin-bottom: 2rem;">{{followUpTopicTitle}}</h2>
        {% else %}
          <h2 style="margin-bottom: 2rem;">Die wichtigsten {{rootTag}} Funktionen im Detail</h2>
        {% endif %}

        {% if followUpTopicDescription %}
          <p>{{followUpTopicDescription | safe}}</p>
        {% endif %}

        {# Hack, damit partials/feature-list.njk funktioniert. Keine Ahnung, wo das Problem liegt... #}
        <!-- {% jpgUrl "/img/og-image.png", 500 %} -->

        {% include 'partials/feature-list.njk' %}
      </div>
    </div>
  {% else %}
    <br/>
    <br/>
  {% endif %}
{% endif %}

{% include 'sections/cta-request-demo-dark.njk' %}

<div class="feature-footer container">
  <section style="margin-bottom: 3rem;">
    <h3>«Kann man das?»</h3>
    {% include "partials/feature-contact.njk" %}
  </section>
  <section>
    <h3>Auswahl unserer Kunden</h3>
    {% include 'partials/customers.njk' %}
  </section>
</div>
