---
layout: default
---

<div class="glossary container">

    {% if content %}
        {{ content | safe }}
    {% else %}
        <h1>{{title}}</h1>
        <p>{{excerpt}}</p>
    {% endif %}

</div>
