---
layout: default
title: Behörden
---

<div >
    <div class="container">

        <h2>Behörden</h2>

        <ul>
            <li>Wie komme ich zu einer Prämienverbilligung?</li>
            <li>Habe ich Anspruch auf eine Prämienverbilligung?</li>
            <li>Wo finde ich das Anmeldeformular für Einzelfirmen?</li>
            <li>Wo ist das Formular für die Betreuungsentschädigung?</li>
        </ul>

        <p>So ähnlich lauten Anfragen, die bei Behörden tausendfach beantwortet werden. Oft geht es darum, ein Formular zu finden oder einen Anspruch zu prüfen. Hier kann ein Chatbot ausgezeichnet weiterhelfen. Simple Fragen kann er direkt beantworten, z.B. mit einem Link auf die Seite mit den entsprechenden Informationen.</p>

        <p>Manchmal braucht es für eine Antwort aber noch einige Angaben des Besuchers. In diesen Fall kann ein Chatbot Rückfragen stellen und eine Antwort anhand der Benutzereingaben zusammenstellen.</p>

    </div>

</div>
