---
layout: default
title: Tourismus
---

<div >
    <div class="container">

        <h2>Bildung</h2>

        <ul>
            <li>Wie lange dauert die Lehre als Chemielaborant?</li>
            <li>Wie viel verdiene ich während der Lehre als Chemielaborant?</li>
            <li>Wie oft pro Woche muss ich zur Schule als KV-Lehrling?</li>
            <li>Was kann ich nach einer KV-Lehre tun?</li>
        </ul>

        <p>So lauten viele Anfragen bei einem Chatbot, den wir für einen grossen Konzern erstellt haben. Eine Kommunikation mit einem Chatbot zu starten, ist sehr niederschwellig. Man tippt einfach eine Frage ein und kriegt sofort eine Antwort. Zum einen entlastet man so die eigenen Mitarbeiter, welche diese Anfragen beantworten müssen. Zum anderen hinterlassen Chatbots gerade bei der jüngeren Generation einen guten Eindruck. Sie sind es sich gewohnt, zu chatten.</p>

        <p>Chatbots können sich den Kontext merken, für welchen sich ein Benutzer interessiert. Anhand von diesen Eingaben, gibt der Chatbot passende Antworten aus. Dies funktioniert selbstverständlich nicht nur für Lehrgänge, sondern auch Studiengänge, etc..</p>

    </div>
</div>
