---
layout: branche
title: Gesundheitswesen
---

<h1>Chatbots im Gesundheitswesen</h1>

<blockquote>
    <p>Welche Dienstleistungen gibt es von Ihnen?</p>
    <p>Wann bekomme ich das Geld?</p>
    <p>Ist meine Brille versichert?</p>
    <p>Ich möchte einen Steuerauszug bestellen.</p>
</blockquote>

<p class="branchen-info">Dies sind Standardanfragen bei einem Krankenversicherer. Die meisten davon könnte ein Chatbot direkt beantworten. Oft werden solche Anfragen aber vom Kundendienst beantwortet. Dadurch geht wertvolle Kapazität "verloren", welche besser bei schwierigeren Anfragen eingesetzt würde.</p>

<p class="branchen-info">Im Gesundheitswesen dreht es sich häufig um sensitive Daten. Gerade wenn man sich zu einer Leistung erkundigt, hängt die Antwort oft von den abgeschlossenen Versicherungen ab. Ein Chatbot kann sicherstellen, dass der Kunde authentifiziert ist. Anschliessend kann er nach Bedarf Zusatzinformationen von internen Systemen integrieren.</p>
