---
layout: branche
title: Tourismus
---

<h2>Bubble Chat im Tourismus</h2>

<blockquote>
    <p>Welches ist die schönste Wanderung in der Umgebung?</p>
    <p>Was mache ich bei schlechtem Wetter?</p>
    <p>Welches Restaurant kannst du mir empfehlen?</p>
    <p>Sind bei einem Aufenthalt die Bergbahnen inbegriffen?</p>
</blockquote>

<p class="branchen-info">Dies sind Anfragen, die ein Chatbot für ein touristisches Berggebiet problemlos beantworten kann. Und wenn er dies zufriedenstellend tut, ist dies durchaus ein Grund, wieso sich ein Kunde für das entsprechende Gebiet entscheidet. Zudem können die Mitarbeitenden bei der Touristeninfo nicht rund um die Uhr solche Anfragen beantworten - schon gar nicht am Wochenende. Der Chatbot hingegen bleibt auch während der Hochsaison relaxt und freundlich.</p>

<p class="branchen-info">Mit Bubble Chat können auch Umsysteme wie z.B. eine Buchungsplattform integriert werden. Einer Anfrage nach verfügbaren Kapazitäten kann der Chatbot nachgehen und sofort beantworten. Selbstverständlich kann der Chatbot in unterschiedlichen Sprachen Auskunft geben. Gerade für eine internationale Kundschaft ist das ein absolutes Muss.</p>
