---
permalink: /funktionen/
layout : default
eleventyNavigation:
  key: Funktionen
excerpt: Jeder Chatbot ist so einzigartig wie das Unternehmen für welches er arbeitet. Entsprechend wichtig ist es, eine flexible Chatbot Lösung zu haben die den Anforderungen gerecht wird.
contactPerson: Linus Hüsler
---

<div class="container feature" style="padding-bottom: 2rem;">
  <h1>Funktionen</h1>
  <p>Jeder Chatbot ist so einzigartig wie das Unternehmen, für welches er arbeitet. Bubble Chat bietet eine grosse Palette
    von Funktionen an, um den unterschiedlichsten Anforderungen gerecht zu werden. Selbstverständlich darf der Spagat
    zwischen Flexibilität und Einfachheit nicht zu gross sein. Nur so ist es möglich, dass die Verwaltung von Chatbots von
    den Leuten gemacht werden kann, die sich mit den Inhalten am besten auskennen. Auf diese Herausforderung haben wir bei
    Bubble Chat von Beginn weg ein grosses Augenmerk gelegt.</p>
  <p>Nachfolgend erhalten Sie einen Überblick über die wichtigsten Funktionsbereiche. Die aufgeführten Bereiche und
    Funktionen sind nicht abschliessend. Dank dem regen Austausch mit unseren Kunden entwickeln wir die Funktionspalette von
    Bubble Chat laufend weiter.</p>
</div>
<div style="background-color: #f5f5f7; padding-top: 2rem; padding-bottom: 2rem;">
  <div class="container">
    <h3 style="margin-bottom: 2rem;">Übersicht über die wichtigsten Funktionsbereiche</h3>
    {% set postslist = collections.RootTag %}
    {% include "partials/feature-list.njk" %}
  </div>
</div>
<div class="feature-footer container">
  <section>
    {% contactPersonCode contactPerson, "Etwas unklar? Fragen Sie $name." %}
  </section>
  <section>
    <h3>Auswahl unserer Kunden</h3>
    {% include 'partials/customers.njk' %}
  </section>
</div>
