---
layout: default
title: Glossar
excerpt: Entdecken Sie unsere umfassende Glossarseite, die wichtige Fachbegriffe zu Chatbots und Conversational AI entschlüsselt. Erweitern Sie Ihr Know-how mit leicht verständlichen Definitionen zu Schlüsselbegriffen, verstehen Sie die Feinheiten von Conversational AI und bleiben Sie in der sich schnell entwickelnden Chatbot-Technologie auf dem neuesten Stand. Unsere Glossarseite ist ein wertvoller Leitfaden für Einsteiger und Experte gleichermassen.
eleventyNavigation:
  key: Glossar
eleventyImport:
  collections: ["glossary"]
---

<div class="glossary container">
  <h1>Glossar</h1>

    <p class="glossary__intro">Hier haben wir alle wichtigen Fachbegriffe rund um die Themen Chatbot und Conversational AI für Sie zusammengestellt.<br/>
    Sie können auch einfach unseren Chatbot <a class="chat-with-chatbot" href="#"><strong>Bubbly</strong></a> um Antworten bitten, anstatt sich durch die lange Liste zu kämpfen.
    </p>

    {% set letterArray = [] %}
    {% for entry in collections.glossary %}
      {% if entry.data.title %}
        {% set firstLetter = entry.data.title.charAt(0).toUpperCase() %}
        {% if not letterArray.includes(firstLetter) %}
          {% set letterArray = (letterArray.push(firstLetter), letterArray) %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <ul class="glossary__index-letters">
      {% for letter in letterArray %}
       <a href="#{{ letter }}"> <li>{{ letter }}</li></a>
      {% endfor %}
    </ul>

    {% set currentLetter = '' %}
    {%- for item in collections.glossary -%}
      {%- set firstLetter = item.data.title.charAt(0).toUpperCase() -%}
      {%- if firstLetter !== currentLetter -%}
        <a class="anchor" id="{{ firstLetter }}"></a>
        <div class="glossary__index-letter">{{ firstLetter }}</div>
        {%- set currentLetter = firstLetter -%}
      {%- endif -%}

      <article class="accordion">
        <input type="checkbox" class="tgg-title" id="{{ item.data.title }}">
        <div class="accordion-title">
            <label for="{{ item.data.title }}">
              <h4>{{ item.data.title }}</h4>
              <span class="arrow-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(114, 46, 209)" viewBox="0 0 256 256">
                  <path d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"></path>
                </svg>
              </span>
            </label>
        </div>
        <div class="accordion-content">
            {% if item.data.summary %}
                {{item.data.summary | markdown | safe}}
            {% else %}
                <p>{{item.data.excerpt}}</p>
            {% endif %}
            {%- if item.content or item.data.readMoreUrl -%}
              <a href="{{item.data.readMoreUrl or item.url}}" class="button button-action">Mehr erfahren</a>
            {%- endif -%}
        </div>
      </article>
    {%- endfor -%}

</div>
