.partials-customers-scroller {
  --logo-width: 100px;
  --logo-padding: 40px;
  --logo-size: calc(var(--logo-width) + calc(2 * var(--logo-padding)));
  --scroller-size: calc(var(--number-of-customers) * var(--logo-size));

  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: white;

  & .scroller-container {
    overflow: hidden;

    & .scroller {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: var(--scroller-size);
      animation: customer-icon-scroller calc(var(--number-of-customers) * 10s)
        linear 0s normal infinite;
      will-change: transform;
    }

    & .scroller-img {
      margin-left: var(--logo-padding);
      margin-right: var(--logo-padding);
      max-width: var(--logo-width);
      height: auto;
      vertical-align: bottom;
    }
  }
}

@keyframes customer-icon-scroller {
  100% {
    transform: translateX(calc(var(--scroller-size) * -0.5));
  }
}

@media (--media-desktop-size) {
  .partials-customers-scroller {
    --logo-padding: 100px;
  }
}
