.partials-customers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  & .customer {
    margin: 2rem 2rem;
    width: 100px;

    & img {
      bottom: 0;
      height: 100%;
      width: 100%;
      vertical-align: bottom;
    }
  }
}

@media (--media-desktop-size) {
  .partials-customers {
    & .customer {
      width: 150px;
    }
  }
}
