section.partials-sector-list {
  background-color: var(--color-background-gray);
}

@media (--media-desktop-size) {
  section.partials-sector-list {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}
