.partials-team {
  background-color: var(--color-background-gray);

  & .card {
    text-align: center;
  }

  & .team-member-picture {
    flex: 1;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

@media (--media-desktop-size) {
  .partials-team {
    & .card {
      width: calc(calc(var(--max-content-width) / 3) - 14px);
    }
  }
}
