.partials-team {
  background-color: var(--color-background-gray);

  & .card {
    text-align: center;
    flex-grow: 0;

    @media (--media-tablet-size) {
      flex-basis: calc(33% - 20px);
    }

    @media (--media-desktop-size) {
      flex-basis: calc(25% - 20px);
    }
  }

  & .team-member-picture {
    flex: 1;

    & img {
      width: 100%;
      height: auto;
    }
  }
}
