<section class="cta-request-demo-dark" style="background-image: url('/img/layered-waves-haikei.svg');">
    <div class="container">
        <div class="content">
            <h1>Anwendungsfälle</h1>

            <p>Bubble Chat eignet sich für eine Vielzahl von Anwendungsfällen. Einige Beispiele:</p>

            <div>
                <a class="button button-action" href="/anwendungsfaelle/hr/">Human Resources</a>
            </div>
            <div>
                <a class="button button-action" href="/anwendungsfaelle/it/">IT</a>
            </div>
            <div>
                <a class="button button-action" href="/anwendungsfaelle/kundendienst/">Kundendienst</a>
            </div>

        </div>
    </div>
</section>
