<section class="cta-request-demo-dark" style="background-image: url('/img/layered-waves-haikei.svg');">
    <div class="container">
        <div class="content">
            <h2>Branchen</h2>
            <p>Bubble Chat eignet sich für eine Vielzahl von Branchen. Einige Beispiele:</p>
            <div>
                <a class="button button-action" href="/branchen/behoerden/">Behörden</a>
            </div>
            <div>
                <a class="button button-action" href="/branchen/bildung/">Bildung</a>
            </div>
            <div>
                <a class="button button-action" href="/branchen/gesundheitswesen/">Gesundheitswesen</a>
            </div>
            <div>
                <a class="button button-action" href="/branchen/tourismus/">Tourismus</a>
            </div>
        </div>
    </div>
</section>
