<section class="cta-contact" style="background-image: url('/img/layered-waves-haikei.svg');">
    <div class="container">
        <div class="content">
            <h2>Einfach, flexible &amp; effizient</h2>

            <p>Einfachheit in der Verwaltung von Inhalten gepaart mit einer flexiblen und äusserst leistungsfähigen Chatbot Engine - das ist Bubble Chat. 
            Nehmen Sie mit uns Kontakt auf, damit wir Ihr Vorhaben besprechen können.</p>

            <a class="button button-action" href="/kontakt/">Jetzt bei uns melden</a>
        </div>
    </div>
</section>
