<section class="cta-request-demo">
    <div class="container">
        <div class="content">
            <img src="https://bubblecms.io/images/logo-border.svg" alt="Bubble Chat"/>
            <h2>Wählen Sie den für Ihr Unternehmen passenden Chatbot</h2>
            <p>Bubble Chat basiert auf einer äussert flexiblen Chatbot Engine. Nehmen Sie mit uns Kontakt auf, damit wir Ihre Bedürfnisse besprechen können.</p>
            <a class="button button-action" href="#">Kostenloser Demo-Account erstellen</a>
        </div>
    </div>
</section>
