<section class="cta-contact" style="background-image: url('/img/layered-waves-haikei.svg');">
    <div class="container">
        <div class="content">
            <h2>Wählen Sie den für Ihr Unternehmen passenden Chatbot</h2>
            <p>Bubble Chat basiert auf einer äussert flexiblen Chatbot Engine. Nehmen Sie mit uns Kontakt auf, damit wir Ihre Bedürfnisse besprechen können.</p>
            <a class="button button-action" href="#">Jetzt bei uns melden</a>
        </div>
    </div>
</section>
