<section class="cta-request-demo-dark" style="background-image: url('/img/layered-waves-haikei.svg');">
    <div class="container">
        <div class="content">
            <h2>Einfach, flexible &amp; effizient</h2>

            <div class="description">
                <p>Einfachheit in der Verwaltung von Inhalten gepaart mit einer flexiblen und äusserst leistungsfähigen Chatbot Engine - das ist Bubble Chat.</p>
                <p>Sichern Sie sich noch heute eine kostenlose Demo Umgebung und überzeugen Sie sich selbst.</p>
            </div>

            <a class="button button-action" href="/kostenlos-testen/">Kostenlos testen und überzeugen</a>
        </div>
    </div>
</section>
