<section class="section-features">
    <div class="container">
        <div class="feature-list">

            <div class="feature">
                <div class="content">
                    <h3>Inhalte verwalten</h3>
                    <div class="subtitle">Verwalten Sie Ihre Chatbot-Inhalte wie im Fluge, dank einer leistungsstarken und intuitiven Benutzeroberfläche.</div>
                    <p>Mit Bubble Chat ist es sehr einfach, dem Chatbot die richtigen Antworten auf häufig gestellte Fragen beizubringen. Mit Hilfe von vordefinierten Vorlagen können strukturierte Gespräche im Handumdrehen konfiguriert werden.</p>
                    <p>Durch eine schnelle Volltextsuche finden Sie Ihre Absichten sofort. Sie beinhaltet sowohl Trainingssätze als auch Antworten des Bots.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-manage.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Chatbot trainieren</h3>
                    <div class="subtitle">Trainieren Sie Ihren Chatbot im Handumdrehen und mit Selbstvertrauen.</div>
                    <p>Verschaffen Sie sich einen Überblick darüber, was Ihr Chatbot nicht verstanden hat und ordnen Sie die unbeantworteten Benutzeräusserungen der entsprechenden Absicht zu.</p>
                    <p>Erstellen Sie neue Absichten, wenn es noch keine passenden gibt.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-training.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Änderungen überprüfen</h3>
                    <div class="subtitle">Testen Sie neue Inhalte vor der Veröffentlichung.</div>
                    <p>Alle Änderungen werden zunächst auf eine Testumgebung angewendet. Auf diese Weise können Sie Ihre Änderungen testen, bevor sie veröffentlicht werden.</p>
                    <p>Zusätzlich wird der Inhalt automatisch getestet. Auf diese Weise können Sie entscheiden, ob Sie die Änderungen auf die Produktivumgebung anwenden möchten.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-publish.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Leistung überwachen</h3>
                    <div class="subtitle">Überwachen und verbesseren Sie die Leistung Ihres Chatbots effizient.</div>
                    <p>Das Bubble Chat Dashboard bietet Ihnen eine Reihe von Kennzahlen für die Chatbot-Analyse. Viele der Fähigkeiten des Chatbots werden durch diese Metriken gemessen.</p>
                    <p>Darüber hinaus ist es möglich, alle Gespräche in ein eigenes Reporting-Tool wie Tableu oder Qlik Sense zu exportieren.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-dashboard.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Benutzer verstehen</h3>
                    <div class="subtitle">Erhalten Sie Einblicke in das, worüber Benutzer chatten.</div>
                    <p>Manchmal möchte man sich ein Gespräch im Detail ansehen. Bubble Chat kann nicht nur den Verlauf jedes Gesprächs anzeigen, sondern auch die Transkriptionen in Echtzeit aktualisieren.</p>
                    <p>Darüber hinaus kann der Kontext einzelner Nachrichten eingesehen werden.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-conversations.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Livechat</h3>
                    <div class="subtitle">Chatten Sie direkt mit Ihrer Kundschaft.</div>
                    <p>Manchmal weiss auch der schlauste Chatbot nicht weiter. In diesem Fall kann die Konversation an eine echte Person übergeben werden.</p>
                    <p>Trainieren Sie anschliessend den Chatbot mit den gewonnenen Erkenntnissen.</p>
                </div>
                <div class="image"></div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Systeme integrieren</h3>
                    <div class="subtitle">Lassen Sie den Chatbot auf bestehenden Systeme zugreifen.</div>
                    <p>Chatbots können nicht nur chatten. Sie können auch mit IT-Systemen kommunizieren. Binden Sie den Chatbot z.B. an Ihr CRM oder Ticketing-System an und entlasten Sie dabei Ihren Kundendienst.</p>
                </div>
                <div class="image"></div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Cloud / On Premise</h3>
                    <div class="subtitle">Richten Sie den Chatbot dort ein, wo es am besten passt.</div>
                    <p>Sie können wählen, ob wir den Chatbot für Sie in der Cloud betreiben sollen, oder ob er in Ihrem eigenen Rechenzenter laufen soll. Je nach Anforderungen an den Datenschutz finden wir gemeinsam die passende Lösung.</p>
                </div>
                <div class="image"></div>
            </div>

        </div>
    </div>

</section>
