<section class="section-features">
    <div class="container">
        <div class="feature-list">

            <div class="feature">
                <div class="content">
                    <h2>Inhalte verwalten</h2>
                    <div class="subtitle">Verwalten Sie Ihre Chatbot-Inhalte mit einer leistungsstarken und intuitiven Benutzeroberfläche.</div>
                    <p>Mit Bubble Chat ist es sehr einfach, dem Chatbot die richtigen Antworten auf häufig gestellte Fragen beizubringen. Mit Hilfe von vordefinierten Vorlagen können strukturierte Gespräche im Nu konfiguriert werden.</p>
                    <p>Durch eine schnelle Volltextsuche finden Sie Ihre Absichten sofort. Sie beinhaltet sowohl die Trainingssätze als auch die Antworten des Bots.</p>
                </div>
                {% browserScreenshot "./img/cms/inhalte-verwalten.png", "Inhalte verwalten", "image image--expandable", "(min-width: 1248px) 600px, (min-width: 1024px) 40vw, 100vw"%}
            </div>

            <div class="feature">
                <div class="content">
                    <h2>Chatbot trainieren</h2>
                    <div class="subtitle">Trainieren Sie Ihren Chatbot im Handumdrehen und mit Überzeugung.</div>
                    <p>Verschaffen Sie sich einen Überblick darüber, was Ihr Chatbot nicht verstanden hat und ordnen Sie die unbeantworteten Benutzeräusserungen der entsprechenden Absicht zu.</p>
                    <p>Erstellen Sie neue Absichten, wenn es noch keine passenden gibt.</p>
                </div>
                {% browserScreenshot "./img/cms/training.png", "Chatbot trainieren", "image image--expandable", "(min-width: 1248px) 600px, (min-width: 1024px) 40vw, 100vw"%}
            </div>

            <div class="feature">
                <div class="content">
                    <h2>Änderungen überprüfen</h2>
                    <div class="subtitle">Testen Sie neue Inhalte vor der Veröffentlichung.</div>
                    <p>Alle Änderungen werden zunächst auf einer Testumgebung eingespielt. Auf diese Weise besteht die Möglichkeit, die Änderungen zu testen, bevor sie veröffentlicht werden.</p>
                    <p>Zudem wird der Inhalt automatisch getestet. So können Sie entscheiden, ob Sie die Änderungen auf die Produktivumgebung anwenden möchten.</p>
                </div>
                {% browserScreenshot "./img/cms/validieren-und-publizieren.png", "Änderungen überprüfen", "image image--expandable", "(min-width: 1248px) 600px, (min-width: 1024px) 40vw, 100vw"%}
            </div>

            <div class="feature">
                <div class="content">
                    <h2>Leistung überwachen</h2>
                    <div class="subtitle">Überwachen und verbesseren Sie die Leistung Ihres Chatbots.</div>
                    <p>Das Bubble Chat Dashboard bietet Ihnen eine Reihe von Kennzahlen für die Chatbot-Analyse. Viele der Fähigkeiten des Chatbots werden durch diese Metriken gemessen.</p>
                    <p>Darüber hinaus ist es möglich, alle Gespräche in ein eigenes Reporting-Tool wie Tableu oder Qlik Sense zu exportieren.</p>
                </div>
                {% browserScreenshot "./img/cms/analytics.png", "Leistung überwachen", "image image--expandable", "(min-width: 1248px) 600px, (min-width: 1024px) 40vw, 100vw"%}
            </div>

            <div class="feature">
                <div class="content">
                    <h2>Benutzer verstehen</h2>
                    <div class="subtitle">Erhalten Sie Einblicke in das, worüber Benutzer chatten.</div>
                    <p>Manchmal möchte man sich ein Gespräch im Detail ansehen. Bubble Chat kann nicht nur den Verlauf jedes Gesprächs anzeigen, sondern auch die Konversationen in Echtzeit aktualisieren.</p>
                    <p>Darüber hinaus kann der Kontext einzelner Nachrichten eingesehen werden.</p>
                </div>
                {% browserScreenshot "./img/cms/chats.png", "Benutzer verstehen", "image image--expandable", "(min-width: 1248px) 600px, (min-width: 1024px) 40vw, 100vw"%}
            </div>

            <div class="feature">
                <div class="content">
                    <h2>Livechat</h2>
                    <div class="subtitle">Chatten Sie direkt mit Ihrer Kundschaft.</div>
                    <p>Manchmal weiss auch der schlauste Chatbot nicht weiter. In diesem Fall kann die Konversation an eine echte Person übergeben werden.</p>
                    <p>Trainieren Sie anschliessend den Chatbot mit den gewonnenen Erkenntnissen.</p>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h2>Systeme integrieren</h2>
                    <div class="subtitle">Lassen Sie den Chatbot auf bestehenden Systeme zugreifen.</div>
                    <p>Chatbots können nicht nur mit Menschen chatten. Sie können auch mit IT-Systemen kommunizieren. Binden Sie den Chatbot z.B. an Ihr CRM oder Ticketing-System an und entlasten Sie dabei Ihren Kundendienst.</p>
                </div>
                <div class="image"></div>
            </div>

            <div class="feature">
                <div class="content">
                    <h2>Cloud / On Premise</h2>
                    <div class="subtitle">Richten Sie den Chatbot dort ein, wo es am besten passt.</div>
                    <p>Sie können wählen, ob wir den Chatbot für Sie in der Cloud betreiben sollen, oder ob er in Ihrem eigenen Rechenzenter laufen soll. Je nach Anforderungen an den Datenschutz finden wir gemeinsam die passende Lösung.</p>
                </div>
                <div class="image"></div>
            </div>

        </div>
    </div>

</section>
