<section class="features2">
    <div class="container">
        {# <h2>Funktionen</h2>
        <div class="subtitle">Überblick der wichtigsten Funktionen von Bubble Chat.</div> #}

        <div class="feature-list">

            <div class="feature">
                <div class="content">
                    <h3>Inhalte verwalten</h3>
                    <div class="subtitle">Verwalte deine Chatbot-Inhalte wie im Fluge, dank einer leistungsstarken und intuitiven Benutzeroberfläche.</div>
                    <p>Mit Bubble Chat ist es sehr einfach, dem Chatbot die richtigen Antworten auf häufig gestellte Fragen beizubringen. Mit Hilfe von vordefinierten Vorlagen können strukturierte Gespräche im Handumdrehen konfiguriert werden.</p>
                    <p>Durch eine schnelle Volltextsuche findest du deine Absichten sofort. Sie beinhaltet sowohl Trainingssätze als auch Antworten des Bots.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-manage.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Chatbot trainieren</h3>
                    <div class="subtitle">Trainiere deinen Chatbot im Handumdrehen und mit Selbstvertrauen.</div>
                    <p>Verschaffe dir einen Überblick darüber, was dein Chatbot nicht verstanden hat und ordne die unbeantworteten Benutzeräusserungen der entsprechenden Absicht zu.</p>
                    <p>Erstelle neue Absichten, wenn es noch keine passenden gibt.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-training.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Änderungen überprüfen</h3>
                    <div class="subtitle">Teste neue Inhalte vor der Veröffentlichung.</div>
                    <p>Alle Änderungen werden zunächst auf eine Testumgebung angewendet. Auf diese Weise kannst du deine Änderungen testen, bevor sie veröffentlicht werden.</p>
                    <p>Zusätzlich wird der Inhalt automatisch getestet. Auf diese Weise kannst du entscheiden, ob du die Änderungen auf die Produktivumgebung anwenden möchtest.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-publish.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Leistung überwachen</h3>
                    <div class="subtitle">Überwache und verbessere die Leistung deines Chatbots effizient.</div>
                    <p>Das Bubble Chat Dashboard bietet dir eine Reihe von Kennzahlen für die Chatbot-Analyse. Viele der Fähigkeiten des Chatbots werden durch diese Metriken gemessen.</p>
                    <p>Darüber hinaus ist es möglich, alle Gespräche in ein eigenes Reporting-Tool wie Tableu oder Qlik Sense zu exportieren.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-dashboard.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Benutzer verstehen</h3>
                    <div class="subtitle">Erhalte Einblicke in das, worüber Benutzer chatten.</div>
                    <p>Manchmal möchte man sich ein Gespräch im Detail ansehen. Bubble Chat kann nicht nur den Verlauf jedes Gesprächs anzeigen, sondern auch die Transkriptionen in Echtzeit aktualisieren.</p>
                    <p>Darüber hinaus kann der Kontext einzelner Nachrichten eingesehen werden.</p>
                </div>
                <div class="image">
                    <img src="https://bubblecms.io/images/bubblecms-dashboard.webp"/>
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Livechat</h3>
                    <div class="subtitle">Chatte direkt mit deiner Kundschaft.</div>
                    <p>Manchmal weiss auch der schlauste Chatbot nicht weiter. In diesem Fall kann die Konversation an eine echte Person übergeben werden.</p>
                    <p>Trainiere anschliessend den Chatbot mit den gewonnenen Erkenntnissen.</p>
                </div>
                <div class="image"></div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Systeme integrieren</h3>
                    <div class="subtitle">Lass den Chatbot auf deine bestehenden Systeme zugreifen.</div>
                    <p>Chatbot können nicht nur chatten. Sie können auch mit IT-Systemen kommunizieren. Binde den Chatbot z.B. an dein Ticketing-System an und entlaste dabei deinen Kundendienst.</p>
                </div>
                <div class="image"></div>
            </div>

            <div class="feature">
                <div class="content">
                    <h3>Cloud / On Premise</h3>
                    <div class="subtitle">Richte den Chatbot dort ein, wo es für dich am besten passt.</div>
                    <p>Du kannst wählen, ob wir den Chatbot für dich in der Cloud betreiben sollen, oder ob er in deinem Rechenzenter laufen soll. Je nach Anforderungen an den Datenschutz finden wir gemeinsam die passende Lösung.</p>
                </div>
                <div class="image"></div>
            </div>

        </div>
    </div>

</section>
