<footer>
    <section>
        <div class="container">
            <div class="footer">
                <div class="about">
                    <h3>Über Bubble Chat</h3>
                    <p>TODO: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quis similique deserunt aspernatur
                        maxime, velit nostrum accusantium illum quaerat incidunt corporis ratione debitis earum amet
                        molestias, culpa, fuga odio harum.</p>
                </div>
                <div class="contact">
                    <h3>Kontakt</h3>
                    <p>Apptiva AG<br/>
                            Neuenkirchstrasse 19<br/>
                            6203 Sempach Station<br/>
                            Schweiz<br/><br/>

                        <a href="tel:+41413222626">041 322 26 26</a><br/>

                            TODO: info@bubble-chat.ch<br/>
                    </p>
                </div>
                <div class="quick-links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li>
                            <a href="/demo-vereinbaren/">Demo vereinbaren</a>
                        </li>
                        <li>
                            <a href="#">Funktionen</a>
                        </li>
                        <li>
                            <a href="#">Preise</a>
                        </li>
                        <li>
                            <a href="/ueber-uns/">Unternehmen</a>
                        </li>
                        <li class="last-of-section">
                            <a href="/kontakt/">Kontakt</a>
                        </li>
                        <li>
                            <a href="https://apptiva.ch" target="_blank" rel="noopener">Apptiva AG</a>
                        </li>
                        <li>
                            <a href="https://botfabrik.ch" target="_blank" rel="noopener">Botfabrik</a>
                        </li>
                    </ul>
                </div>
            </div>

            <hr>
            <div class="copyright">
                <p>🇨🇭 In der Schweiz entwickelt.</p>
                <p>Copyright © 2021 Apptiva AG. Alle Rechte vorbehalten.</p>
            </div>
        </div>
    </section>
    <script src="{% webpackAsset 'main.js' %}"></script>
    <script id="chatbot" data-server="https://chatbot.bubble-chat.ch/chatbot" defer src="https://chatbot.bubble-chat.ch/chatbot/embed/bundle.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js" integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</footer>
