<footer>
    <section>
        <div class="container">
            <div class="footer">
                <div>
                    <h3>Über Bubble Chat</h3>
                    <p>TODO: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quis similique deserunt aspernatur
                        maxime, velit nostrum accusantium illum quaerat incidunt corporis ratione debitis earum amet
                        molestias, culpa, fuga odio harum.</p>
                </div>
                <div class="footer-subsection">
                    <div>
                        <h3>Kontakt</h3>
                        <p>Apptiva AG<br/>
                            Neuenkirchstrasse 19<br/>
                            6203 Sempach Station<br/><br/>

                            <a href="tel:+41413222626">041 322 26 26</a><br/>

                            TODO: contact@bubble-chat.ch<br/>
                        </p>
                    </div>
                    <div class="quick-links">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>
                                <a href="#">Demo vereinbaren</a>
                            </li>
                            <li>
                                <a href="#">Funktionen</a>
                            </li>
                            <li>
                                <a href="#">Preise</a>
                            </li>
                            <li>
                                <a href="#">Unternehmen</a>
                            </li>
                            <li class="last-of-section">
                                <a href="#">Kontakt</a>
                            </li>
                            <li>
                                <a href="https://apptiva.ch" target="_blank">Apptiva AG</a>
                            </li>
                            <li>
                                <a href="https://botfabrik.ch" target="_blank">Botfabrik</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                <p>Copyright © 2021 Apptiva AG. Alle Rechte vorbehalten.</p>
                <p>🇨🇭 In der Schweiz entwickelt.</p>
            </div>
        </div>
    </section>
    <script src="{% webpackAsset 'main.js' %}"></script>
</footer>
