<footer>
    {% include 'sections/image-modal.njk' %}
    <section>
        <div class="container">
            <div class="footer">
                <div class="about">
                    <h2>Über Bubble Chat</h2>
                    <p>Mit Bubble Chat können Chatbots auf einfache Art und Weise erstellt und integriert werden.
                    Bubble Chat hilft beim Administrieren von Inhalten und liefert die wichtigsten Erkenntnisse über vergangene und aktuelle Konversationen.
                    Falls der Chatbot nicht nur mit Menschen, sondern auch mit IT-Systemen chatten soll, bietet der modulare Aufbau von Bubble Chat die optimale Basis.<br/>
                    Wer sich bei einem Chatbot auf die fachlichen Inhalte und nicht um das Drumherum kümmern will, wählt am besten Bubble Chat.</p>
                </div>
                <div class="contact">
                    <h2>Kontakt</h2>
                    <p>Apptiva AG<br/>
                            Neuenkirchstrasse 19<br/>
                            6203 Sempach Station<br/>
                            Schweiz<br/><br/>

                        <a href="tel:+41413222626">041 322 26 26</a><br/>

                        <a href="mailto:info@bubble-chat.ch">info@bubble-chat.ch</a><br/>
                    </p>
                </div>
                <div class="quick-links">
                    <h2>Quick Links</h2>
                    <ul>
                        {% for item in quicklinks.items %}
                            <li>
                                <a href="{{ item.url }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>
                        {% for item in quicklinks.secondaryItems %}
                            <li>
                                <a href="{{ item.url }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>
                        <li>
                            <a href="https://apptiva.ch" target="_blank" rel="noopener">Apptiva AG</a>
                        </li>
                        <li>
                            <a href="https://botfabrik.ch" target="_blank" rel="noopener">Botfabrik</a>
                        </li>
                    </ul>
                </div>
            </div>

            <hr>
            <div class="copyright">
                <p>🇨🇭 In der Schweiz entwickelt.</p>
                <p>Copyright © 2021 Apptiva AG. Alle Rechte vorbehalten.</p>
            </div>
        </div>
    </section>
    <script src="{% webpackAsset 'main.js' %}"></script>
    <script id="chatbot" data-server="https://chatbot.bubble-chat.ch/chatbot" defer src="https://chatbot.bubble-chat.ch/chatbot/embed/bundle.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js" integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</footer>
