<section class="landing">
    <div class="container">
        <div class="content">
            <h1>Kunden&shy;anfragen mit Künstlicher Intelligenz beantworten</h1>
            <p>Bubble Chat ermöglicht den Einsatz von Chatbots mit minimalem Aufwand.</p>
            <div class="cta">
                <a href="/demo-vereinbaren/">Demo vereinbaren</a>
            </div>
        </div>
        <div class="chat">
            <img class="bot" alt="Chatbot" src="/img/bot.svg"/>
            <div class="chat-phone">
                <div class="phone-header">
                    <svg class="notch" viewBox="0 0 219 31">
                        <path d="M0 1V0h219v1a5 5 0 0 0-5 5v3c0 12.15-9.85 22-22 22H27C14.85 31 5 21.15 5 9V6a5 5 0 0 0-5-5z" fill-rule="evenodd"></path>
                    </svg>
                    <span>Chat</span>
                </div>
                <iframe loading="lazy" importance="low" frameborder="0" src="https://chatbot.bubble-chat.ch/chatbot/?cssClassName=chat--inline-dark" title="Chatfenster"></iframe>
            </div>
            <img class="user" alt="User" src="/img/user.svg"/>
        </div>
    </div>
</section>
