<section>
    <div 
        {% if page.url === "/" %}
            id="navigation"
            class="menu"
            {% else %}
            class="menu--sticky"
        {% endif %}
    >
        <div class="container">

            <ul role="menu">
                <li>
                    <a href="/"><img class="logo logo-color" src="/img/logo.svg" alt="Bubble Chat"/><img class="logo logo-white" src="/img/logo-weiss.svg" alt="Bubble Chat"/></a>
                </li>
                {% for item in nav.items %}
                    <li>
                        <a href="{{ item.url }}"
                        {% if item.url === page.url %}
                            aria-current="page" data-state="active"
                        {% endif %}
                        >{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="cta">
                <a href="#">Kostenlos testen</a>
            </div>
        </div>
    </div>
</section>
