<section class="partials-customers">
    {% for item in customers.items %}
        <div class="customer">
            <img  src="{{ item.logo }}" name="{{ item.name }}" alt="{{ item.name }}"/>
        </div>
    {% endfor %}

</section>
