<section class="partials-customers">
    {% for item in customers.items %}
        <div class="customer">
            {% image item.logo,
            "logo",
            item.name,
            "100vw",
            [200] %}
        </div>
    {% endfor %}

</section>
