<section class="customers">
        <div class="scroller-container">
                <div class="scroller">
                        {% for item in customers.items %}
                                <img class="scroller-img" name="{{ item.name }}" src="{{ item.logo }}">
                        {% endfor %}
                        {% for item in customers.items %}
                                <img class="scroller-img" name="{{ item.name }}" src="{{ item.logo }}">
                        {% endfor %}
                        {% for item in customers.items %}
                                <img class="scroller-img" name="{{ item.name }}" src="{{ item.logo }}">
                        {% endfor %}
                </div>
        </div>
</section>
