<div class="partials-customers-scroller">
        <div class="scroller-container">
                <style>
                        :root {
                                --number-of-customers: {{customers.items.length * 3}}
                        }
                </style>
                <div class="scroller">
                        {% for item in customers.items %}
                                <img class="scroller-img" src="{{ item.logo }}" name="{{ item.name }}" alt="{{ item.name }}"/>
                        {% endfor %}
                        {% for item in customers.items %}
                                <img class="scroller-img" src="{{ item.logo }}" name="{{ item.name }}" alt="{{ item.name }}"/>
                        {% endfor %}
                        {% for item in customers.items %}
                                <img class="scroller-img" src="{{ item.logo }}" name="{{ item.name }}" alt="{{ item.name }}"/>
                        {% endfor %}
                </div>
        </div>
</div>
