<div class="partials-customers-scroller">
        <div class="scroller-container">
                <style>
                        :root {
                                --number-of-customers: {{customers.items.length * 3}}
                        }
                </style>
                <div class="scroller">
                        {% for item in customers.items %}
                                {% image item.logo, item.name, {"class": "scroller-img", "sizes":"100vw", "widths":[200]} %}
                        {% endfor %}
                        {% for item in customers.items %}
                                {% image item.logo, item.name, {"class": "scroller-img", "sizes":"100vw", "widths":[200]} %}
                        {% endfor %}
                        {% for item in customers.items %}
                                {% image item.logo, item.name, {"class": "scroller-img", "sizes":"100vw", "widths":[200]} %}
                        {% endfor %}
                </div>
        </div>
</div>
