<ul class="feature-cards">
    {% for post in postslist | sortByOrder %}
        <li class="feature-cards__item">
            <a class="card" href="{{ post.url | url }}">
                {% if post.data.image %}
                    <div class="header-img" style="background-image: url('{% jpgUrl post.data.image, 500 %}')"></div>
                {% else %}
                    <div class="header-img" style="background-image: url('{% jpgUrl "/img/og-image.png", 500 %}')"></div>
                {% endif %}
                <div class="card-content">
                    <div class="card-title">
                        {{ post.data.title }}
                    </div>
                    <div class="card-desc">
                        {{ post.data.excerpt }}
                    </div>
                    <div class="card-actions">
                        <span class="btn btn-block">Mehr erfahren</span>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
