<p>Unsicher, ob Bubble Chat Ihre Anforderungen abdeckt?</p>

<div class="feature-contact-box">
    <div>
        <p class="label">Rufen Sie uns an</p>
        <a href="tel:+41413222626" class="button">041 322 26 26</a>
    </div>
    <div>
        <p class="label">Schreiben Sie uns</p>
        <a href="mailto:info@bubble-chat.ch" class="button">info@bubble-chat.ch</a>
    </div>
    <div>
        <p class="label">Fragen Sie unseren Chatbot</p>
        <a class="button chat-with-chatbot" href="#" data-bubble-intent="61671d65f948cd0021bbd33d">Chatten Sie mit Bubbly</a>
    </div>
</div>
