<section class="intro">
    <div class="container">
        <h1>Chatbots für Ihr Unternehmen</h1>
        <div class="content">
            <div class="text">
                <p>Chatbots vereinfachen die Kommunikation mit der Kundschaft. Rund um die Uhr stehen sie mit Rat und Tat zur Verfügung. Mit Bubble Chat ist die Integration eines Chatbots auf der Firmenwebseite keine Hexerei. Bubble Chat ist intuitiv und selbsterklärend. Dank Künstlicher Intelligenz ist der Aufwand für die Administration des Chatbots minimal. Darüber hinaus ist Bubble Chat modular aufgebaut, was die Integration von beliebigen weiteren Systemen ermöglicht.</p>
                <p>Wer eine unkomplizierte und dennoch flexible Chatbotlösung sucht, wählt am besten Bubble Chat.</p>
            </div>
            <div class="list">
                <div class="list-item"><span>✔ selbsterklärend</span></div>
                <div class="list-item"><span>✔ wartungsarm</span></div>
                <div class="list-item"><span>✔ modular</span></div>
            </div>
            <div>
                <a class="button button-action" href="/kostenlos-testen/">Kostenlos testen und überzeugen</a>
            </div>
        </div>
    </div>
</section>
