<section class="intro">
    <div class="container">
        <h1>Chatbots für Ihr Unternehmen</h1>
        <div class="content">
            <div class="text">
                <p>Bubble Chat ermöglicht die Entwicklung und Integration von Chatbots. Es sind dazu keine Programmierkenntnisse nötig. Dank Künstlicher Intelligenz ist der Aufwand für die Administration des Chatbots minimal. Zudem ist Bubble Chat modular aufgebaut, was die Anbindung von beliebigen weiteren Systemen ermöglicht.</p>
                <p>Wer eine unkomplizierte und dennoch flexible Chatbotlösung sucht, wählt am besten Bubble Chat.</p>
            </div>
            <div class="list">
                <div class="list-item"><span>✔ Künstliche Intelligenz</span></div>
                <div class="list-item"><span>✔ beliebige Integrationen</span></div>
                <div class="list-item"><span>✔ No-Code</span></div>
            </div>
            <div class="break"></div>
            <div>
                <a class="button button-action" href="/kostenlos-testen/">Kostenlos testen und überzeugen</a>
            </div>
        </div>
    </div>
</section>
