<div class="partials-team">
    <div class="cards">
        {% for item in team.items %}
            <div class="card">
                <div class="card-content">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <div class="card-desc">
                        <div>{{ item.role}}</div>
                    </div>
                </div>
                <div class="team-member-picture">
                    {% image item.picture, item.name, {"class":"footer-img"} %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
