body {
  margin: 0;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(46, 46, 46);
  background-color: white;

  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

h2 {
  margin-bottom: 1rem;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  line-height: 1.14286;
  font-weight: 700;
  letter-spacing: 0.007em;
}

p {
  margin-block-start: 0;
}

a {
  color: var(--color-bubble-blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  color: #6e6e73;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: var(--max-content-width, 1200px);
  padding: 0 25px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
}

/* ####### call to action ###### */

.section-bubble-chat-cta {
  background-color: #122239;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.section-bubble-chat-cta .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.section-bubble-chat-cta h2 {
  font-weight: 500;
}

.section-bubble-chat-cta .slogan {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}

.section-bubble-chat-cta .description {
  font-size: 22px;
  padding-top: 2rem;
}

.section-bubble-chat-cta .price {
  display: flex;
  padding-top: 2rem;
  width: 100%;
}

.section-bubble-chat-cta .price div {
  padding: 1rem;
  flex-basis: 50%;
}

.section-bubble-chat-cta .price div:first-child {
  text-align: right;
}

.section-bubble-chat-cta .price .price-info a {
  color: var(--color-bubble-blue);
  text-decoration: none;
}

.section-bubble-chat-cta .price .price-info a:hover {
  text-decoration: underline;
}

.section-bubble-chat-cta .cta a {
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 15px -3px rgb(16 42 67 / 10%),
    0 4px 6px -2px rgb(16 42 67 / 5%);
  background-color: var(--color-bubble-blue);
  color: #fff;
  text-align: center;
  padding: 12px 26px;
  font-size: 18px;
  text-decoration: none;
}

.section-bubble-chat-cta .cta a:hover {
  box-shadow: 0 10px 15px 0px rgb(16 42 67 / 15%),
    0 4px 6px 0px rgb(16 42 67 / 15%);
  cursor: pointer;
  background-color: rgba(47, 84, 235, 0.9);
}

.section-bubble-chat-cta .screen {
  padding-top: 3rem;
}

.section-bubble-chat-cta .screen img {
  max-width: var(--max-content-width);
  border-radius: 12px;
  box-shadow: 8px 8px 12px 0px rgba(47, 84, 235, 0.8);
}
