.breadcrumb {
  position: relative;

  & ul {
    list-style: none;
    padding: 0;

    position: relative;
    width: 100%;

    white-space: nowrap;

    overflow-x: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    & li {
      display: inline;
      font-size: 0.9rem;

      display: inline-block;

      &:before {
        content: none;
      }

      &.other-page {
        display: none;

        & + li:before {
          content: none;
        }

        @media (--media-desktop-size) {
          display: inline-block;

          & + li:before {
            content: "/\00a0";
          }
        }
      }

      &.active-page {
        display: none;

        @media (--media-desktop-size) {
          display: inline-block;
        }
      }

      & + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";

        position: relative;
        border-right: 0;
        border-bottom: 0;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        transform: none;
      }

      & a {
        color: var(--color-bubble-blue);
        text-decoration: none;
      }

      & a:hover {
        text-decoration: underline;
      }
    }
  }
}
