.faq-page {
  --max-text-width: var(--default-max-text-width);

  & h3 {
    margin-top: 4rem;
  }
}
.faq-container {
  & a {
    & h4 {
      color: var(--color-bubble-brand);
    }
  }
}
.faq-functions {
  & .faq-component {
    margin-top: 4rem;
  }
}
