.menu {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 20px;

  width: 100%;
  display: flex;
  justify-content: space-between;

  z-index: 999999;
  position: fixed;
  top: 0;

  color: white;

  & .logo-color {
    display: none;
    width: 150px;
    margin-top: -3px;
  }

  & .logo-white {
    display: initial;
    width: 200px;
    margin-top: -10px;
  }
}

.menu .container {
  display: flex;
  justify-content: space-between;
}

.menu--sticky {
  color: black;
  background-color: var(--color-background-gray);
  animation: fade 0.5s forwards;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);

  & .logo-color {
    display: initial;
  }

  & .logo-white {
    display: none;
  }
}

@keyframes fade {
  from {
    background-color: rgb(var(--color-background-gray) / 30%);
    transform: scale(1);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  to {
    background-color: var(--color-background-gray);
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

.menu ul {
  font-weight: 500;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  position: relative;
  margin-right: 50px;
  float: none;
  display: inline-block;
}

.menu ul li a {
  color: white;
  text-underline-offset: 5px;
}

.menu--sticky ul li a {
  color: black;
}

.menu .cta {
  display: inline-block;
  transform-origin: right;
  transform: scale(0.8);
}

.menu .cta a {
  display: none;
  border-radius: 8px;
  border: 2px solid white;
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
}

.menu--sticky .cta a {
  display: initial;
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 15px -3px rgb(16 42 67 / 10%),
    0 4px 6px -2px rgb(16 42 67 / 5%);
  background-color: var(--color-bubble-blue);
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
}

.menu .cta a:hover {
  box-shadow: 0 10px 15px 0px rgb(16 42 67 / 15%),
    0 4px 6px 0px rgb(16 42 67 / 15%);
  cursor: pointer;
  background-color: rgba(47, 84, 235, 0.9);
}
