---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{%- for page in collections.all -%}
  {%- if page.url and page.data.redirectTo -%}
    {%- if page.data.redirectTo | is_string -%}
      {{ page.url }}  {{ page.data.redirectTo }}  {{ page.data.redirectCode or '302'}}
    {%- endif -%}
    {{ '\n' }}
  {%- endif -%}
{%- endfor -%}
