---
layout: default
title: Apptiva
---

<div class="apptiva-page">

    <div class="container">
        <h1>Über Apptiva AG</h1>

        <p>
            Bubble Chat ist ein Produkt der Apptiva AG. Die Apptiva ist spezialisiert auf das Erstellen von Softwarelösungen. Damit unterstützt sie Unternehmen bei der Digitalisierung und bei der Beschleunigung von Geschäftsprozessen.
        </p>

        <p>
            Seit 2015 entwickelt Apptiva Apps, Applikationen und Chatbots. Dank benutzerzentriertem Vorgehen wird in allen Projekten ein enger und direkter Kontakt zur Kundschaft gepflegt. Zudem bietet Apptiva auch Beratung, Schulung und technische Unterstützung an.
        </p>

        <p>
            Zu den Dienstleistungen der Apptiva gehören:
            <ul>
                <li><a href="https://apptiva.ch/chatbots/"  target="_blank" rel="noopener">Chatbots</a></li>
                <li><a href="https://apptiva.ch/individuelle-entwicklung/" target="_blank" rel="noopener">Webapp- und mobile App-Entwicklung</a></li>
                <li><a href="https://apptiva.ch/produktkonfiguratoren/" target="_blank" rel="noopener">Produkt-Konfiguratoren</a></li>
                <li><a href="https://apptiva.ch/einzigartiger-webshop/" target="_blank" rel="noopener">Individuelle Webshops für grosse Unternehmen</a></li>
                <li><a href="https://apptiva.ch/digitalisierung-unternehmen/" target="_blank" rel="noopener">Digitalisierung von Geschäftsprozessen</a></li>
                <li><a href="https://apptiva.ch/unterstuetzung/" target="_blank" rel="noopener">Weiterentwicklung von bestehenden Apps und Produkten</a></li>
            </ul>

Zusätzlich zu den Dienstleistungen ist Apptiva auch in der Produktentwicklung tätig. Nebst Bubble Chat entwickelt Apptiva auch <a href="https://payflink.ch/" target="_blank" rel="noopener">Payflink</a>, eine revolutionäre Bestell- und Bezahl-App.
        </p>

        <p>
            Mehr über die Apptiva erfahren Sie auf <a href="https://apptiva.ch" target="_blank" rel="noopener">https://apptiva.ch</a>
        </p>

        <img src="/img/apptiva-logo.svg" alt="Apptiva"/>

    </div>

</div>
