---
layout: default
title: Botfabrik
---

<div class="botfabrik-page">

    <div class="container">
        <h1>Über Botfabrik</h1>

        <p>
            Die Botfabrik ist eine Initiative der Apptiva AG. Seit 2016 entwickeln und integrieren wir kundenindividuelle Chatbots. Die Botfabrik ist zu 100% unabhängig und kann somit Tools und Technologien einsetzen, welche die Anforderungen und Zeile optimal erfüllen.
        </p>

        <p>
            Dank der grossen Erfahrung bei der Entwicklung von Chatbots wurde das Tooling laufend verbessert. Daraus ist schliesslich das Produkt Bubble Chat entstanden. Bubble Chat bietet eine hervorragende Grundlage, um einen erfolgreichen Chatbot zu erstellen. Bei Bedarf oder falls die Anforderungen an den Chatbot etwas umfangreicher sind, kann unsere Kundschaft auf die Dienstleistungen der Botfabrik zurückgreifen.
        </p>

        <p>
            Zu den <a href="https://botfabrik.ch/dienstleistungen/" target="_blank" rel="noopener">Dienstleistungen</a> der Botfabrik gehören:
            <ul>
                <li>Inhalte erarbeiten</li>
                <li>Chatbots entwickeln</li>
                <li>Chatbots integrieren</li>
                <li>Chatbots trainieren</li>
                <li>Chatbots betreiben</li>
                <li>Live-Chat aufsetzen</li>
            </ul>
        </p>

        <p>
            Mehr über die Botfabrik erfahren Sie auf <a href="https://botfabrik.ch" target="_blank" rel="noopener">https://botfabrik.ch</a>
        </p>

        <div class="logo">
            <img src="/img/botfabrik-logo.svg" alt="Botfabrik"/>
            <div>
                <div class="title">Botfabrik</div>
                <div class="slogan">Passgenaue Chatbot-Lösungen</div>
            </div>
        </div>
    </div>
</div>
