---
layout: raw
title: Datenschutzerklärung
---

<div class="container">

    <h1>Datenschutz&shy;erklärung Chatbot / Live Chat</h1>

    <h2>Allgemein</h2>

    <p>Gestützt auf Artikel 13 der Schweizerischen Bundesverfassung und die datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG) hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor Missbrauch ihrer persönlichen Daten. Die Betreiber der Chat Lösung nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>

    <p>Wir bemühen uns, die Datenbanken so gut wie möglich vor unberechtigtem Zugriff, Verlust, Missbrauch oder Verfälschung zu schützen.</p>

    <p>Wir weisen darauf hin, dass die Datenübertragung im Internet Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>

    <p>Durch die Nutzung des Chatbots respektive des Live Chats erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäss der nachfolgenden Beschreibung einverstanden.</p>

    <h2>Dialogflow / GPT-3</h2>

    <p>Um unmittelbar Hilfestellung zu geben und Anfragen von Nutzer/innen beantworten zu können, bietet Bubble Chat einen Chatbot für entsprechende Dialoge an. Das verwendete Sprachverarbeitungssysteme "Dialogflow" und "OpenAI" nutzen maschinelles Lernen, um Eingaben zu "verstehen" und diese beantworten zu können. Dazu können Eingaben an weltweit verteilte Server gesendet werden. Eingaben und daraus entstehende Chat-Dialoge werden ohne Personenbezug gespeichert. Die Dialoge dienen der Verbesserung des Chat-Systems und werden für Auswertungen ohne Personenbezug herangezogen. Der Chatbot fragt an keiner Stelle persönliche Daten ab und es werden keinerlei persönliche Angaben für die Chatbot-Dialoge benötigt. Eingegebene Dialog-Fragen oder -Angaben werden ohne Personenbezug zu Lernzwecken genutzt bzw. zu Trainingszwecken gespeichert. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. a DSGVO dar.<p>
    <p>Dialogflow ist ein Tochterunternehmen von Google (Datenschutzerklärung: https://dialogflow.com/terms). Google ist in der Lage, Eingaben bei verschiedenen Diensten zusammenzuführen und zu verknüpfen.</p>
    <p>GPT-3 ist ein Dienst von OpenAI, L.L.C. (Datenschutzerklärung: https://openai.com/privacy/).</p>

    <h2>Web Chat</h2>

    <p>Der Web Chat verwendet Cookies. Dabei handelt es sich um kleine Textdateien, die es ermöglichen, spezifische, auf den Nutzer bezogene Informationen auf dem Endgerät des Nutzers zu speichern, während der Nutzer die Website nutzt. Cookies ermöglichen es insbesondere, die Nutzungshäufigkeit und die Anzahl der Nutzer der Seiten zu ermitteln, Verhaltensmuster der Seitennutzung zu analysieren, aber auch, unser Angebot kundenfreundlicher zu gestalten. Cookies bleiben über das Ende einer Browser-Sitzung hinaus gespeichert und können bei einem erneuten Besuch der Seite wieder abgerufen werden. Wenn Sie dies nicht wünschen, sollten Sie Ihren Internet-Browser so einstellen, dass er die Annahme von Cookies verweigert.</p>

    <p>Ein genereller Widerspruch gegen die Verwendung von Cookies zu Online-Marketing-Zwecken kann für eine Vielzahl der Dienste, insbesondere beim Tracking, über die US-Seite http://www.aboutads.info/choices/ oder die EU-Seite http://www.youronlinechoices.com/ erklärt werden. Darüber hinaus kann die Speicherung von Cookies durch Deaktivierung in den Browsereinstellungen erreicht werden. Bitte beachten Sie, dass in diesem Fall nicht alle Funktionen dieses Online-Angebots genutzt werden können.</p>

    <h2>WhatsApp</h2>

    <p>Verwendet der Nutzer den WhatsApp Kanal, erfolgt diese Verwendung zusätzlich unter der Datenschutzrichtliche von WhatsApp LLC in der jeweils aktuellsten Fassung, abrufbar unter https://www.whatsapp.com/legal/privacy-policy-eea?eea=1</p>

    <p>Der Nutzer verwendet WhatsApp freiwillig als Kanal und willigt somit in die Bearbeitung mit und durch WhatsApp ein. Er tritt in ein eigenes Vertragsverhältnis und ist im Zusammenhang mit dem Versenden von Nachrichten via WhatsApp Kunde von WhatsApp.</p>

    <h2>Google Business Messages</h2>

    <p>Verwendet der Nutzer den Google Business Messages Kanal, erfolgt diese Verwendung zusätzlich unter der Datenschutzrichtliche von Google in der jeweils aktuellsten Fassung, abrufbar unter https://developers.google.com/business-communications/business-messages/support/tos</p>

    <p>Der Nutzer verwendet Google Business Messages freiwillig als Kanal und willigt somit in die Bearbeitung mit und durch Google ein. Er tritt in ein eigenes Vertragsverhältnis und ist im Zusammenhang mit dem Versenden von Nachrichten via Google Business Messages Kunde von Google.</p>

    <h2>Haftungsausschluss</h2>

    <p>Der Autor übernimmt keine Gewähr für die Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.
    Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, die aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p>

    <p>Alle Angebote sind freibleibend. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>

    <h2>Kontakt</h2>
    <p>Apptiva AG<br/>
    Eichweid 1<br/>
    6203 Sempach Station<br/>
    Schweiz<br/><br/>

    <a href="tel:+41413222626">041 322 26 26</a><br/>
    <a href="mailto:info@apptiva.ch">info@bubble-chat.ch</a><br/>
    <a href="https://www.bubble-chat.ch/">https://www.bubble-chat.ch/</a>
    </p>

</div>
