---
layout: raw
title: Datenschutzerklärung
---

<div class="container">
    <h1>Datenschutz&shy;erklärung</h1>
    <p> Wir nehmen den Schutz Ihrer Personendaten sehr ernst. Die Beachtung der Privatsphäre und der vertrauensvolle Umgang mit ihren Personendaten ist uns ein wichtiges Anliegen. Das Einhalten der gesetzlichen Bestimmungen zum Datenschutz ist für uns selbstverständlich. Nachfolgend geben wir Ihnen einen Überblick darüber, wie wir den Schutz Ihrer Personendaten gewährleisten und welche Ihrer Daten wir zu welchem Zweck bearbeiten.</p>
    <p>Sie finden einleitend unsere Übersicht «Datenschutz: Kurzfassung», die Ihnen einen kurzen Überblick über die wichtigsten Eckpunkte unserer Datenbearbeitungen verschaffen soll. Anschliessend stellen wir Ihnen noch ausführlichere Informationen zur Verfügung.</p>
    <p>Verantwortlicher<br>
        <strong>Apptiva AG</strong><br>
Eichweid 1<br>
6203 Sempach Station<br></p>
    <p>E-Mail-Adresse: <a href="mailto:datenschutz@apptiva.ch">datenschutz@apptiva.ch</a>
    </p>
    <h2>1 Datenschutz: Kurzfassung</h2>
    <p>Nachfolgend informieren wir Sie in komprimierter Form über die wichtigsten Eckpunkte unserer Datenbearbeitungen. Selbstverständlich stellen wir Ihnen noch ausführlichere Informationen zur Verfügung. Diese finden Sie gleich im Anschluss.</p>
    <h3>1.1 Bearbeitete Personendaten</h3>
    <p>Wir verwenden Personendaten, welche Sie uns überlassen, welche wir über Sie erheben oder die wir von Dritten erhalten haben. Die Wichtigsten sind:</p>
    <ul>
        <li>Kontakt- und Identifikationsdaten</li>
        <li>Persönliche Angaben</li>
        <li>Vertragsdaten</li>
        <li>Finanzdaten</li>
        <li>Interaktions- und Nutzungsdaten</li>
        <li>Webseiteninformationen</li>
    </ul>
    <h3>1.2 Zwecke der Bearbeitung</h3>
    <p>Wir bearbeiten Personendaten in erster Linie zur Erfüllung unserer gesetzlichen und vertraglichen Pflichten.</p>
    <h3>1.3 Bekanntgabe an Dritte</h3>
    <p>Im Rahmen unserer Geschäftsaktivitäten sind wir darauf angewiesen und teilweise verpflichtet, gewisse Daten spezifischen Dritten zu übermitteln. In keinem Fall verkaufen wir aber Ihre Daten.</p>
    <h3>1.4 Ort der Bearbeitung</h3>
    <p>Wir bearbeiten Personendaten grundsätzlich in der Schweiz oder in einem EU/EWR-Land oder in einem anderen Land, dass über einen angemessenen Datenschutz verfügt.</p>
    <h3>1.5 Datensicherheit</h3>
    <p>Wir haben geeignete technische und organisatorische Sicherheitsmassnahmen zum Schutz der von uns bearbeiteten Personendaten getroffen, insbesondere gegen zufällige oder vorsätzliche vor Manipulation, Verlust, Zerstörung oder unbefugtem Zugriff Dritter. Hierzu gehört etwa die Verwendung von anerkannten Verschlüsselungsverfahren (z.B. Verschlüsselung mittels TLS/SSL).</p>
    <p>Unsere Sicherheitsmassnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert. Die ergriffenen Massnahmen sollen die Vertraulichkeit und Integrität Ihrer Personendaten sowie die Verfügbarkeit und Belastbarkeit unserer Systeme und Dienste bei der Bearbeitung Ihrer Personendaten auf Dauer sicherstellen. Ferner stellen sie ausserdem die rasche Wiederherstellung der Verfügbarkeit Ihrer Personendaten und den Zugang zu ihnen bei einem physischen oder technischen Zwischenfall sicher.</p>
    <p>Auch den eigenen, unternehmensinternen Datenschutz nehmen wir ernst. Unsere Mitarbeitenden und die von uns beauftragten Dienstleistungsunternehmen sind zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet. Überdies wird diesen der Zugriff auf Ihre Personendaten nur soweit notwendig gewährt.</p>
    <h3>1.6 Ihre Rechte</h3>
    <p>Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerspruch/Sperrung gegen die Bearbeitung und Widerruf der Einwilligung mit Bezug auf Ihre Personendaten zu.</p>
    <p>Bitte beachten Sie aber, dass wir uns vorbehalten, die gesetzlich vorgesehenen Einschränkungen geltend zu machen, etwa wenn wir zur Aufbewahrung oder Bearbeitung gewisser Daten verpflichtet sind, daran ein überwiegendes Interesse haben (soweit wir uns darauf berufen dürfen) oder sie für die Geltendmachung von Ansprüchen benötigen.</p>
    <p>Beachten Sie, dass die Ausübung dieser Rechte im Konflikt zu vertraglichen Abmachungen stehen kann und dies Folgen wie z.B. die vorzeitige Vertragsauflösung oder Kostenfolgen haben kann. Wir werden Sie diesfalls vorgängig informieren, wo dies nicht bereits vertraglich geregelt ist.</p>
    <p>Wenn Sie glauben, dass die Bearbeitung Ihrer Personendaten gegen das Datenschutzrecht verstösst, oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich ausserdem bei der zuständigen Aufsichtsbehörde beschweren. In der Schweiz ist dies der <a href="https://www.edoeb.admin.ch/edoeb/de/home.html">Eidgenössische Datenschutz- und Öffentlichkeitsbeauftrage</a> (EDÖB).</p>
    <p>Die Ausübung Ihrer datenschutzrechtlichen Rechte setzt in der Regel voraus, dass Sie Ihre Identität eindeutig nachweisen (z.B. durch eine Ausweiskopie, wo Ihre Identität sonst nicht klar ist bzw. verifiziert werden kann). Zur Geltendmachung Ihrer Rechte kontaktieren Sie uns bitte per E-Mail unter der in Ziffer 1 bezeichneten E-Mail-Adresse.</p>
    <h2>2. Datenschutz im Detail</h2>
    <h3>2.1 Durch uns bearbeitete Personendaten</h3>
    <p>Apptiva bearbeitet verschiedene Personendaten. Dabei handelt es sich insbesondere um Personendaten:</p>
    <ul>
        <li>die wir im Rahmen unserer Geschäftsbeziehungen von Kunden, zukünftigen Kunden, Interessenten, - Dienstleistern, Lieferanten, Geschäftspartnern oder weiteren an den Geschäftsbeziehungen beteiligten - Personen erhalten;</li>
        <li>zu deren Erhebung wir gesetzlich oder vertraglich verpflichtet sind;</li>
        <li>die wir bei der Nutzung unserer Webseite erheben;</li>
        <li>die wir von Behörden und sonstigen Dritten (Adresshändlern, Kreditauskunfteien) erhalten.</li>
    </ul>
    <p>Je nach Art der Beziehung bearbeiten wir Personendaten von Ihnen wie:</p>
    <ul>
        <li>
            <strong>Kontakt und Identifikationsdaten</strong> wie Name, Vorname, Adresse, E-Mail-Adresse, Telefonnummer;</li>
        <li>
            <strong>User Account-Informationen</strong> wie Benutzername, Passwort, Benutzerkontonummer;</li>
        <li>
            <strong>Vertragsdaten</strong> wie Vertragsart, Vertragsinhalt, Art der Produkte und Dienstleistungen, Verbrauchsgruppen, Verbrauchstypen, Prognosedaten, anwendbare Geschäftsbedingungen, Vertragsbeginn, Vertragslaufzeit, Rechnungsdaten;</li>
        <li>
            <strong>Finanzdaten</strong> wie Kontoinformationen, Zahlungsinformationen, Zahlungsverlauf, durchschnittlicher Erlös, - Bonitätsdaten, Einkommen, Kaufkraft;</li>
        <li>
            <strong>Randdaten</strong> aus dem Fernmeldeverkehr wie Telefonnummer, Mehrwertdienstnummern, Datum, Zeitpunkt und Dauer der Verbindung, Verbindungsart, Standortdaten, IP-Adresse, Geräteidentifikationsnummern wie MAC-Adresse;</li>
        <li>
            <strong>Interaktions- und Nutzungsdaten:</strong> Korrespondenz, Präferenzen und Zielgruppeninformationen, Endgerätetyp, Geräteeinstellungen, Betriebssystem, Software, Angaben aus Geltendmachung von Rechten;</li>
        <li>
            <strong>Webseiteninformationen:</strong> IP-Adresse, Cookie-Informationen, Browser-Einstellungen, Häufigkeit der Besuche der - Webseite, Dauer der Besuche der Webseite, Suchbegriffe, Klicks auf Inhalte, Herkunfts-Internetseite.</li>
        <li>
            <strong>Projekt-Daten:</strong> Daten, die wir zur erfolgreichen Durchführung von Projekten benötigen, wie z.B. Ziele, Budget, Fortschritt, Aufgabenlisten oder auch Zugangsdaten zu Drittdiensten.</li>
    </ul>
    <h3>2.2 Zwecke zu denen wir Personendaten bearbeiten und Rechtsgrundlage der Bearbeitung</h3>
    <p>Wir verwenden die von uns erhobenen Personendaten in erster Linie, um Verträge mit unseren Kunden und Geschäftspartnern abzuschliessen und abzuwickeln.</p>
    <p>Für die Bearbeitung von Personendaten sind wir auch auf den Einkauf von Produkten und Dienstleistungen von unseren Lieferanten und Subunternehmern angewiesen. Wenn Sie für einen Kunden oder Geschäftspartner tätig sind, können Sie in dieser Funktion mit Ihren Personendaten natürlich ebenfalls betroffen sein.</p>
    <p>Darüber hinaus bearbeiten wir Personendaten von Ihnen und weiteren Personen, soweit erlaubt und es uns als angezeigt erscheint, auch für folgende Zwecke, an denen wir (und zuweilen auch Dritte) ein dem Zweck entsprechendes berechtigtes Interesse haben:</p>
    <ul>
        <li>Angebot und Weiterentwicklung unserer Produkte, Dienstleistungen und Webseite und weiteren Plattformen, auf welchen wir präsent sind;</li>
        <li>Kommunikation und Bearbeitung von Anfragen (z.B. über Kontaktformulare, E-Mail, Telefon, Medienanfragen);</li>
        <li>Werbung und Marketing soweit Sie zur Nutzung Ihrer Daten eingewilligt/nicht widersprochen haben (wenn wir - Ihnen als bestehender Kunde von uns Werbung zukommen lassen, können Sie dem jederzeit widersprechen, wir setzen Sie dann auf eine Sperrliste gegen weitere Werbesendungen);</li>
        <li>Marktforschung, Medienbeobachtung;</li>
        <li>Geltendmachung rechtlicher Ansprüche und Verteidigung in Zusammenhang mit rechtlichen Streitigkeiten und behördlichen Verfahren;</li>
        <li>Verhinderung und Aufklärung von Straftaten und sonstigem Fehlverhalten (z.B. Durchführung interner Untersuchungen, Datenanalysen zur Betrugsbekämpfung);</li>
        <li>Gewährleistungen unseres Betriebs, insbesondere der IT, unserer Webseite und weiteren Plattformen.</li>
    </ul>
    <p>Soweit Sie uns eine Einwilligung zur Bearbeitung Ihrer Personendaten für bestimmte Zwecke erteilt haben, bearbeiten wir Ihre Personendaten im Rahmen und gestützt auf diese Einwilligung, soweit wir keine andere Rechtsgrundlage haben und wir eine solche benötigen. Eine erteilte Einwilligung kann jederzeit widerrufen werden, was jedoch keine Auswirkung auf bereits erfolgte Datenbearbeitungen hat. Einen Widerruf können Sie uns per E-Mail oder per Post an die unter Ziffer 1 genannte (E-Mail-)Adresse zustellen.</p>
    <h3>2.3 Dritte, denen wir Personendaten bekanntgeben</h3>
    <p>Im Rahmen unserer geschäftlichen Tätigkeiten können wir Personendaten zu den zuvor genannten Zwecken an Dritte weitergeben, sofern dies rechtlich zulässig und angebracht ist. Diese Weitergabe kann entweder im Rahmen der Auftragsdatenverarbeitung erfolgen, wenn sie Daten in unserem Auftrag verarbeiten, oder aber im Rahmen der Datenbekanntgabe, wenn sie die Daten für ihre eigenen Zwecke nutzen möchten.
Dabei geht es insbesondere um:</p>
    <ul>
        <li>Dienstleister, einschliesslich Auftragsbearbeiter;</li>
        <li>IT-Servicebetreiber (z.B. Webhosting-Provider, E-Mail-Versanddienstleister, Online-Tools);</li>
        <li>Lieferanten;</li>
        <li>Behörden;</li>
        <li>Versicherungen;</li>
        <li>Bankinstitute und Zahlungsdienstleister;</li>
        <li>Amtsstellen und Gerichte.</li>
    </ul>
    <p>Die Empfänger sind teilweise im Inland, teilweise aber auch im Ausland. Sie müssen insbesondere mit der Übermittlung Ihrer Daten in andere Länder Europas und den USA rechnen, wo sich einige der von uns in Anspruch genommenen IT-Dienstleister befinden. Wenn wir Daten in ein Land übermitteln, in dem kein angemessenes gesetzliches Datenschutzniveau besteht), verlangen wir, dass der Empfänger angemessene Massnahmen zum Schutz von Personendaten trifft (z.B. mittels der Vereinbarung von sog. EU-Standardklauseln, aktuelle Version <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=CELEX:32021D0914">hier</a> abrufbar, anderer Vorkehrungen oder gestützt auf Rechtfertigungsgründe).</p>
    <h3>2.4 Dauer der Datenbearbeitung</h3>
    <p>Wir bearbeiten Personendaten, solange es für die Erfüllung unserer vertraglichen Pflichten oder sonst für die mit der Bearbeitung verfolgten Zwecke erforderlich ist, zum Beispiel für die Dauer der gesamten Geschäftsbeziehung (von der Anbahnung, Abwicklung bis zur Beendigung eines Vertrags) sowie darüber hinaus gemäss den gesetzlichen Aufbewahrungs- und Dokumentationspflichten. Dabei ist es möglich, dass Personendaten für die Zeit aufbewahrt werden, in der Ansprüche gegen uns geltend gemacht werden können und soweit wir anderweitig gesetzlich dazu verpflichtet sind oder berechtigte Interessen dies erfordern (z.B. für Beweis- und Dokumentationszwecke). Sobald Ihre Personendaten für die oben genannten Zwecke nicht mehr erforderlich sind, werden sie grundsätzlich gelöscht oder anonymisiert.</p>
    <h2>Drittdienste &amp; Technologien</h2>
    <h3>3.1 Netlify</h3>
    <p>Sämtliche von unserer Webseite ausgelieferten &amp; gesammelten Daten laufen durch die Server von Netlify und können durch Netlify eingesehen werden. Dies betrifft somit auch sämtliche auf Formularen der Webseiten eingegebenen Daten, wie z.B. dem Kontaktformular.</p>
    <p>Zum Schutz Ihrer Persönlichkeit haben wir mit Netlify ein «<a href="https://www.netlify.com/pdf/netlify-dpa.pdf">Data Processing Agreement</a>» geschlossen. Darin verpflichtet sich Netlify bei der Bekanntgabe von Daten in Länder, die über kein angemessenes Datenschutzniveau verfügen, einen geeigneten Datenschutz sicherzustellen, durch den Abschluss von Standardvertragsklauseln.</p>
    <p>Wenn Sie unsere Webseite besuchen, speichert Netlify vorübergehend jeden Zugriff in einer Protokolldatei, den sogenannten Server-Logfiles.</p>
    <p>Erfasst werden dabei beispielsweise Ihre IP-Adresse, das Datum und die Uhrzeit Ihres Besuchs, Name der aufgerufenen Datei, verwendeter Webbrowser und Betriebssystem sowie sonstige ähnliche Informationen, die der Gefahrenabwehr im Falle von Angriffen auf unsere informationstechnologischen Systeme dienen.</p>
    <p>Die Bearbeitung dieser Informationen hat den Zweck, Ihnen unsere Webseite sowie deren Inhalte und Angebote korrekt anzuzeigen und den Datenverkehr sicherzustellen, unsere Webseite, Inhalte und Angebote zu optimieren, die Stabilität und Sicherheit unserer Webseite und Systeme dauerhaft zu gewährleisten sowie die Aufklärung, Abwehr und Verfolgung von Cyberangriffen, Spam und anderen widerrechtlichen Handlungen in Bezug auf unsere Webseite und Systeme zu ermöglichen und diesbezügliche Ansprüche durchzusetzen.</p>
    <h3>3.2 Mailchimp</h3>
    <p>Sie haben die Möglichkeit, unseren Newsletter zu abonnieren. Hierfür benötigen wir von Ihnen verschiedene Angaben, insbesondere Ihren Vor- und Nachnamen sowie eine E-Mail-Adresse.</p>
    <p>Die Anmeldung zu unseren Newslettern erfolgt in einem sogenannten Double-Opt-In-Verfahren. Das heisst, Sie erhalten nach der Anmeldung eine E-Mail, in der Sie zur Bestätigung Ihrer Anmeldung einen Link anklicken müssen.</p>
    <p>Für den Versand und zur oben genannten Auswertung unserer Newsletter nutzen wir die Dienstleistungen von Mailchimp, einer Newsletter-Versandplattform des US-amerikanischen Anbieters Rocket Science Group LLC, einem Unternehmen der Intuit Inc. mit Sitz in den USA («Mailchimp»). Mailchimp ist ein Dienst, mit dem u.a. der Versand von Newslettern organisiert und ausgewertet werden kann. Die zum Zwecke des Newsletter-Empfangs eingegebenen Daten werden an die Server von Mailchimp übertragen und dort gespeichert. Nach Angaben von Mailchimp können die Daten weltweit übertragen und bearbeitet werden, insbesondere in die USA und andere Länder, in denen Mailchimp, seine Tochtergesellschaften oder seine Unterauftragsbearbeiter tätig sind.</p>
    <p>Unsere Newsletter können teilweise und soweit erlaubt Grafiken und/oder Weblinks enthalten, die personenbezogen erfassen, ob, wann und wie oft ein einzelner Newsletter in einer E-Mail-Anwendung geöffnet wurde und welche Weblinks angeklickt wurden. Solche Grafiken und/oder Weblinks erfassen die Nutzung von Newslettern, um die Qualität zu sichern und Verbesserungen am Newsletter zu ermöglichen. Sie können in Ihrer E-Mail-Anwendung das Setzen solcher Grafiken und/oder Weblinks blockieren.</p>
    <p>Zum Schutz Ihrer Daten haben wir mit Mailchimp einen <a href="https://mailchimp.com/de/legal/data-processing-addendum/">Datenverarbeitungsvertrag</a> abgeschlossen. Darin verpflichtet sich Mailchimp, bei internationalen Datenübertragungen ein angemessenes Datenschutzniveau zu gewährleisten, indem es sich auf EU-Standardvertragsklauseln stützt.</p>
    <p>Weitere Informationen zum Datenschutz bei Mailchimp entnehmen Sie bitte der entsprechenden <a href="https://www.intuit.com/privacy/statement/">Datenschutzerklärung</a>.</p>
    <h3>3.3 Cookies</h3>
    <p>Wir setzen auf unserer Webseite sogenannte Cookies ein. Cookies sind kleine Textdateien, die mit Hilfe des Browsers auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.Ä.) abgelegt und gespeichert werden. Sie dienen dazu, unsere Webseiten insgesamt nutzerfreundlicher und effektiver zu gestalten und Ihnen den Besuch auf unseren Webseiten so angenehm wie möglich zu machen. Cookies richten auf Ihrem Endgerät keinen Schaden an und können weder Programme ausführen noch Viren enthalten.</p>
    <p>Die meisten der von uns verwendeten Cookies sind sogenannte Session-Cookies. Diese werden automatisch gelöscht, wenn Sie sich ausloggen oder den Browser schliessen. Andere Cookies bleiben über den jeweiligen Nutzungsvorgang hinaus auf Ihrem Endgerät gespeichert und ermöglichen uns oder unseren Partnerunternehmen (Cookies von Drittanbietern), Ihren Browser beim nächsten Besuch wiederzuerkennen. Soweit andere Cookies (z.B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert behandelt.</p>
    <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung ihrer Browser-Software verhindern. Ferner können Sie dem Einsatz von Cookies, die der Reichweitenmessung und zu Werbezwecken dienen, über die <a href="https://optout.networkadvertising.org/?c=1">Deaktivierungsseite der Netzwerkwerbeinitiative</a> und zusätzlich auf der US-amerikanische Webseite <a href="https://optout.aboutads.info/?c=2&amp;lang=en">YourAdChoices</a> oder der europäische Webseite <a href="https://www.youronlinechoices.com/uk/your-ad-choices">Your Online Choices</a> widersprechen. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Webseiten vollumfänglich werden nutzen können.</p>
    <h3>3.4 Plausible</h3>
    <p>Um die Nutzung unserer Website zu verstehen und sie zu verbessern, nutzen wir das Webanalyse Werkzeug Plausible Analytics. Plausible setzt keine Cookies, speichert keine Informationen im Browser, und erhebt auch generell keinerlei personenbezogenen Daten. Hier finden Sie <a href="https://plausible.io/">mehr Informationen zu Plausible</a> und dem <a href="https://plausible.io/data-policy">Datenschutz</a> dieses Tools.</p>
    <h3>3.5 Google Dienste</h3>
    <p>Wir nutzen auf unserer Webseite verschiedene Dienste der Google LLC mit Sitz in den USA, bzw. wenn Sie ihren gewöhnlichen Aufenthalt im Europäischen Wirtschaftsraum (EWR) oder der Schweiz haben, Google Ireland Ltd., mit Sitz in Irland («Google»). Für die Bearbeitung von Personendaten bei der Nutzung von «YouTube» und «Google Maps» ist immer Google LLC verantwortlich. Wir setzen die folgenden Google Dienste auf unserer Webseite ein:</p>
    <ul>
        <li>Google Mail</li>
        <li>Google Voice</li>
        <li>Google Maps</li>
        <li>YouTube</li>
        <li>Google Ads</li>
        <li>Google Fonts</li>
    </ul>
    <p>Nähere Informationen zu den einzelnen Diensten finden Sie weiter unten.</p>
    <p>Google verwendet Technologien wie Cookies, Webspeicher im Browser und Zählpixel, die eine Analyse der Benutzung unserer Website durch Sie ermöglichen. Die dadurch erzeugten Informationen über Ihre Benutzung unserer Webseite können an einen Server von Google in den USA oder in weitere Länder übermittelt und dort gespeichert werden. Informationen über die Standorte der Rechenzentren von Google finden Sie <a href="https://www.google.com/about/datacenters/locations/">hier</a>.</p>
    <p>Wir verwenden von Google zur Verfügung gestellte Tools, die nach Aussage von Google Personendaten in Ländern bearbeiten können, in denen Google oder dessen <a href="https://business.safety.google/adssubprocessors/">Unterauftragnehmer</a> Einrichtungen unterhalten. Google verspricht in seinem «<a href="https://business.safety.google/processorterms/">Data Processing Addendum for Products where Google is a Data Processor</a>», ein angemessenes Datenschutzniveau zu gewährleisten, indem es sich auf die EU-Standardvertragsklauseln stützt.</p>
    <p>Nähere Informationen zur Bearbeitung durch Google und zu den Privatsphäreneinstellungen können Sie der <a href="https://policies.google.com/privacy?hl=de">Datenschutzerklärung</a> bzw. den <a href="https://safety.google/privacy/privacy-controls/">Datenschutzeinstellungen</a> von Google entnehmen.</p>
    <h4>3.5.1 Google Mail</h4>
    <p>Das Senden und Empfangen der meisten E-Mails, die an uns gerichtet sind, oder von uns gesendet werden, wird über Google Mail abgewickelt. Alle Daten wie Text, Absender, Empfänger und Anhänge werden dort gespeichert.</p>
    <p>Zusätzlich zu direkt gesendeten E-Mails kann es auch sein, dass in gewisse Formulare wie z.B. unser Kontaktformular eingegebene Daten nach dem Absenden als E-Mail an uns versendet werden.</p>
    <p>Eine Ausnahme sind durch Mailchimp versendete E-Mails.</p>
    <h4>3.5.2 Google Voice</h4>
    <p>Anrufe über unsere Haupt-Telefonnummer und Support-Telefonnummern werden über Google Voice abgewickelt. Hinterlassene Nachrichten werden dort bis sie abgerufen werden gespeichert.</p>
    <p>Direktanrufe an und von unseren Mitarbeitern laufen über den Telefonanbieter des jeweiligen Mitarbeiters.</p>
    <h4>3.5.3 Google Maps</h4>
    <p>Zur Einbindung interaktiver Karten auf unserer Webseite nutzen wir auf unserer Webseite den Onlinekartendienst Google Maps.</p>
    <p>Beim Aufruf einer Webseite, auf welcher die Karten von Google Maps eingebettet sind, wird Google Maps ein Cookie setzen. Dieses Cookie wird im Regelfall nicht durch das Schliessen des Browsers gelöscht, sondern läuft erst nach einer bestimmten Zeit ab, sofern es nicht von Ihnen zuvor manuell gelöscht wird.</p>
    <p>Durch die Nutzung von Google Maps können Informationen über Ihre Benutzung unserer Webseite (einschliesslich Ihrer IP-Adresse) an einen Server von Google in den USA übermittelt und dort gespeichert werden. Google speichert diese Daten unter Umständen als Nutzungsprofile für Zwecke der bedarfsgerechten Gestaltung der Dienste, Werbung sowie der Marktforschung. Wenn Sie bei Google angemeldet sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. Sollten Sie dies nicht wünschen, müssen Sie sich zuvor abmelden.</p>
    <p>Wenn Sie mit dieser Bearbeitung Ihrer Informationen nicht einverstanden sind, so besteht die Möglichkeit, den Google Maps-Service zu deaktivieren. Dazu müssen Sie die Java-Script-Funktion in Ihrem Browser deaktivieren. Dies kann allerdings auch andere Funktionen unserer Webseite beeinträchtigen.</p>
    <p>Weitere Informationen können Sie den <a href="https://www.google.com/intl/de_de/help/terms_maps/">Nutzungsbedingungen für Google Maps</a> und der <a href="https://policies.google.com/privacy?hl=de&amp;gl=de">Datenschutzerklärung von Google</a> entnehmen.</p>
    <h4>3.5.4 YouTube</h4>
    <p>Zur Einbindung von Videos auf unseren Webseiten, setzen wir auf die Dienste des Anbieters YouTube LLC mit Sitz in den USA («YouTube»), einer Tochtergesellschaft der Google LLC.</p>
    <p>Wenn Sie eine unserer Webseiten besuchen, auf der ein YouTube-Video eingebunden ist oder ein YouTube-Video auf einer unserer Webseiten starten, wird eine Verbindung zu den Servern von YouTube hergestellt. Dabei wird dem YouTube-Server mitgeteilt, welche unserer Seiten Sie besucht haben. Diese Information (einschliesslich Ihrer IP-Adresse) kann an einen Server von Google in den USA übermittelt und dort gespeichert werden. Wenn Sie gleichzeitig in Ihrem YouTube-Account eingeloggt sind, ermöglichen Sie YouTube, Ihr Surfverhalten direkt Ihrem persönlichen Profil zuzuordnen. Dies können Sie verhindern, indem Sie sich vor Ihrem Besuch unserer Websites aus Ihrem YouTube-Account ausloggen.</p>
    <p>Weitere Informationen können Sie den <a href="https://www.youtube.com/t/terms">Nutzungsbedingungen von YouTube</a> und der <a href="https://policies.google.com/privacy?hl=de&amp;gl=de">Datenschutzerklärung von Google</a> entnehmen.</p>
    <h4>3.5.5 Google Ads</h4>
    <p>Wir setzen auf unserer Webseite das zu Google-Marketing-Services gehörende Online-Werbeprogramm Google Ads ein, um mit Hilfe von Werbemitteln auf externen Webseiten auf unsere Angebote aufmerksam zu machen. Wir können in Relation zu den Daten der Werbekampagnen ermitteln, wie erfolgreich die einzelnen Werbemassnahmen sind.</p>
    <p>Mit Google Ads wird ein Cookie auf Ihrem Rechner gesetzt («Conversion Cookie»), sofern Sie über eine Google-Anzeige auf unsere Webseite gelangt sind. Diese Cookies verlieren in der Regel nach 30 Tagen ihre Gültigkeit und sollen nicht dazu dienen, Sie persönlich zu identifizieren.</p>
    <p>Diese Cookies ermöglichen Google, Ihren Internetbrowser wiederzuerkennen. Sofern Sie bestimmte Webseiten von uns besuchen und das Cookie noch nicht abgelaufen ist, können Google und wir erkennen, dass Sie auf die Anzeige geklickt haben und so zu unserer Webseite weitergeleitet wurde. Jedem Google Ads-Kunden wird ein anderes Cookie zugeordnet. Cookies können somit nicht über die Webseiten von Google Ads-Kunden nachverfolgt werden. Wir selbst erheben und bearbeiten in den genannten Werbemassnahmen keine Personendaten. Wir erhalten von Google lediglich statistische Auswertungen zur Verfügung gestellt. Anhand dieser Auswertungen können wir erkennen, welche der eingesetzten Werbemassnahmen besonders effektiv sind. Weitergehende Daten aus dem Einsatz der Werbemittel erhalten wir nicht, insbesondere können wir Sie nicht anhand dieser Informationen identifizieren.</p>
    <p>Auf Basis der gesammelten Informationen werden Ihrem Browser interessensrelevante Kategorien zugewiesen. Diese Kategorien werden zur Schaltung von interessensbezogener Werbung genutzt.</p>
    <p>Mit dem Einsatz von Google Ads erreichen wir Nutzer, die unsere Webseite bereits besucht haben. So können wir unsere Werbung Zielgruppen präsentieren, die sich bereits für unsere Produkte oder Dienstleistungen interessieren.</p>
    <p>Sie können die Teilnahme an diesem Tracking-Verfahren auf verschiedene Weise verhindern, unter anderem:</p>
    <ul>
        <li>durch eine entsprechende Einstellung Ihrer Browser-Software, insbesondere führt die Unterdrückung von Drittcookies dazu, dass Sie keine Anzeigen von Drittanbietern erhalten;</li>
        <li>durch Deaktivierung der Cookies für Conversion-Tracking, indem Sie die entsprechenden <a href="https://adssettings.google.de/anonymous?hl=de">Einstellungen für personalisierte Werbung von Google</a> vornehmen;</li>
        <li>über die Deaktivierungsseite der <a href="https://optout.networkadvertising.org/?c=1">Netzwerkwerbeoder initiative</a>, zusätzlich über die US-amerikanische Selbstregulierungs-Kampagne «<a href="https://optout.aboutads.info/?c=2&amp;lang=en">YourAdChoices</a>» oder das europäische Pendant «<a href="https://www.youronlinechoices.com/de/praferenzmanagement/">Your Online Choices</a>»</li>
    </ul>
    <p>Weitere Informationen zur Funktionsweise und zum Datenschutz können Sie der <a href="https://policies.google.com/technologies/ads?hl=de">Datenschutzerklärung und den Nutzungsbedingungen</a> von Google Ads entnehmen.</p>
    <h4>3.5.6 Google Fonts</h4>
    <p>Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend darzustellen, können wir auf unserer Webseite Script- und Schriftbibliotheken zur Darstellung von Schriften, verwenden. Google Fonts werden zur Vermeidung mehrfachen Ladens in den Cache Ihres Browsers übertragen. Falls Ihr Browser Google Fonts nicht unterstützt oder den Zugriff unterbindet, werden unsere Webseiteninhalte in einer Standardschrift angezeigt.</p>
    <p>Der Aufruf von Script- oder Schriftbibliotheken löst automatisch eine Verbindung zum Betreiber der Bibliothek aus. Dabei ist es theoretisch möglich – aktuell allerdings auch unklar, ob und ggf. zu welchen Zwecken – dass der Betreiber, in diesem Fall Google, Daten erhebt.</p>
    <p>Wir erheben keine Personendaten durch die Einbindung von Google Fonts.</p>
    <p>Sie können der Datenbearbeitung durch Google Fonts widersprechen, indem Sie die Ausführung von JavaScript in Ihrem Browser deaktivieren oder einen Einbindung JavaScript-Blocker installieren. Bitte beachten Sie, dass es hierdurch zu Funktionseinschränkungen auf der Webseite kommen kann.</p>
    <p>Weitere Informationen zu Google Fonts finden Sie in den <a href="https://developers.google.com/fonts/faq?hl=de">Google Fonts FAQ</a> sowie in der <a href="https://policies.google.com/privacy">Datenschutzerklärung von Google</a>.</p>
    <h3>3.6 Trello</h3>
    <p>Wir benutzen Trello von Atlassian als unser internes Ticketing-System. Wenn sie mit uns über das Kontaktformular, per E-Mail oder auch den Chatbot in Kontakt treten, legen wir in den meisten Fällen dazu ein Trello-Ticket an, das die entsprechenden Daten enthält und uns hilft den Fortschritt zu Anfrage zu dokumentieren und überblicken.</p>
    <p>Zum Schutz Ihrer Persönlichkeit haben wir mit Atlassian ein «<a href="https://www.atlassian.com/legal/data-processing-addendum">Data Processing Addendum</a>» geschlossen. Darin verpflichtet sich Atlassian bei der Bekanntgabe von Daten in Länder, die über kein angemessenes Datenschutzniveau verfügen, einen geeigneten Datenschutz sicherzustellen, durch den Abschluss von Standardvertragsklauseln.</p>
    <h3>3.7 Social Media</h3>
    <p>Die von Ihnen auf unseren Social Media-Profilen (Facebook, Twitter, YouTube, LinkedIn, Xing, etc.) eingegebenen Daten werden durch die Social Media-Plattform veröffentlicht und von uns zu keiner Zeit für andere Zwecke verwendet oder bearbeitet. Wir behalten uns aber vor, Inhalte zu löschen, sofern dies erforderlich sein sollte. Allenfalls kommunizieren wir über die Social Media-Plattform mit Ihnen.</p>
    <p>Grundlage ist Ihr und unser berechtigtes Interesse, uns miteinander auf diesem Weg auszutauschen.</p>
    <p>Seien Sie sich bewusst, dass der Betreiber der Social Media-Plattform Webtrackingmethoden einsetzt. Das Webtracking, worauf wir keinen Einfluss haben, kann dabei auch unabhängig davon erfolgen, ob Sie bei der Social Media-Plattform angemeldet oder registriert sind.</p>

    <h3>3.8 Dialogflow / GPT-3</h3>
    <p>Um unmittelbar Hilfestellung zu geben und Anfragen von Nutzer/innen beantworten zu können, bietet Bubble Chat einen Chatbot für entsprechende Dialoge an. Das verwendete Sprachverarbeitungssysteme "Dialogflow" und "OpenAI" nutzen maschinelles Lernen, um Eingaben zu "verstehen" und diese beantworten zu können. Dazu können Eingaben an weltweit verteilte Server gesendet werden. Eingaben und daraus entstehende Chat-Dialoge werden ohne Personenbezug gespeichert.
                    Die Dialoge dienen der Verbesserung des Chat-Systems und werden für Auswertungen ohne Personenbezug herangezogen. Der
                    Chatbot fragt an keiner Stelle persönliche Daten ab und es werden keinerlei persönliche Angaben für die Chatbot-Dialoge
                    benötigt. Eingegebene Dialog-Fragen oder -Angaben werden ohne Personenbezug zu Lernzwecken genutzt bzw. zu
                    Trainingszwecken gespeichert. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. a DSGVO dar.</p>
    <p>Dialogflow ist ein Tochterunternehmen von Google (<a href="https://dialogflow.com/terms">Datenschutzerklärung Dialogflow</a>). Google ist in der Lage, Eingaben bei verschiedenen Diensten zusammenzuführen und zu verknüpfen.</p>
    <p>GPT-3 ist ein Dienst von OpenAI, L.L.C. (<a href="https://openai.com/privacy/">Datenschutzerklärung OpenAI, L.L.C.</a>).</p>
    <h3>3.9 Web Chat</h3>
    <p>Der Web Chat verwendet Cookies. Dabei handelt es sich um kleine Textdateien, die es ermöglichen, spezifische, auf den
                            Nutzer bezogene Informationen auf dem Endgerät des Nutzers zu speichern, während der Nutzer die Website nutzt. Cookies
                            ermöglichen es insbesondere, die Nutzungshäufigkeit und die Anzahl der Nutzer der Seiten zu ermitteln, Verhaltensmuster
                            der Seitennutzung zu analysieren, aber auch, unser Angebot kundenfreundlicher zu gestalten. Cookies bleiben über das
                            Ende einer Browser-Sitzung hinaus gespeichert und können bei einem erneuten Besuch der Seite wieder abgerufen werden.
                            Wenn Sie dies nicht wünschen, sollten Sie Ihren Internet-Browser so einstellen, dass er die Annahme von Cookies
                            verweigert.</p>
    <p>Ein genereller Widerspruch gegen die Verwendung von Cookies zu Online-Marketing-Zwecken kann für eine Vielzahl der
                            Dienste, insbesondere beim Tracking, über die US-Seite <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> oder die EU-Seite
                            <a href="http://www.youronlinechoices.com/">http://www.youronlinechoices.com/</a> erklärt werden. Darüber hinaus kann die Speicherung von Cookies durch Deaktivierung in
                            den Browsereinstellungen erreicht werden. Bitte beachten Sie, dass in diesem Fall nicht alle Funktionen dieses
                            Online-Angebots genutzt werden können.</p>
    <h3>3.10 WhatsApp</h3>
    <p>Verwendet der Nutzer den WhatsApp Kanal, erfolgt diese Verwendung zusätzlich unter der Datenschutzrichtliche von
                            WhatsApp LLC in der jeweils aktuellsten Fassung, abrufbar unter <a href="https://www.whatsapp.com/legal/privacy-policy-eea?eea=1">https://www.whatsapp.com/legal/privacy-policy-eea?eea=1</a>
    </p>
    <p>Der Nutzer verwendet WhatsApp freiwillig als Kanal und willigt somit in die Bearbeitung mit und durch WhatsApp ein.
                            Er tritt in ein eigenes Vertragsverhältnis und ist im Zusammenhang mit dem Versenden von Nachrichten via WhatsApp Kunde
                            von WhatsApp.</p>
    <h3>3.11 Google Business Messages</h3>
    <p>Verwendet der Nutzer den Google Business Messages Kanal, erfolgt diese Verwendung zusätzlich unter der
                            Datenschutzrichtliche von Google in der jeweils aktuellsten Fassung, abrufbar unter
                            <a href="https://developers.google.com/business-communications/business-messages/support/tos">https://developers.google.com/business-communications/business-messages/support/tos</a>
    </p>
    <p>Der Nutzer verwendet Google Business Messages freiwillig als Kanal und willigt somit in die Bearbeitung mit und durch
                            Google ein. Er tritt in ein eigenes Vertragsverhältnis und ist im Zusammenhang mit dem Versenden von Nachrichten via
                            Google Business Messages Kunde von Google.</p>
    <h2>4 Haftungsausschluss</h2>
    <p>Der Autor übernimmt keine Gewähr für die Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit
                            der Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, die aus dem
                            Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder
                            durch technische Störungen entstanden sind, werden ausgeschlossen.</p>
    <p>Alle Angebote sind freibleibend. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot
                ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig
                einzustellen.</p>
    <h2>Kontakt</h2>
    <p>Apptiva AG<br/> Eichweid 1<br/> 6203 Sempach Station<br/> Schweiz<br/><br/>
        <a href="tel:+41413222626">041 322 26 26</a><br/>
        <a href="mailto:info@apptiva.ch">info@bubble-chat.ch</a><br/>
        <a href="https://www.bubble-chat.ch/">https://www.bubble-chat.ch/</a>
    </p>
</div>
</p>
