---
layout: default
title: Demo Vereinbaren
---

<div class="demo-vereinbaren-page">

    <div class="container common-form-layout">
        <div class="content">
            <div class="subtitle">Demo vereinbaren</div>
            <h1>Sie möchten Ihren Kunden­dialog effizienter gestalten?</h1>
            <p>In der rund einstündigen online Präsentation zeigen wir Ihnen, wie Sie das mithilfe eines Chatbots hinkriegen. Wir gehen dabei gezielt auf Ihre Fragen ein.</p>
            <p>Folgendes wartet auf Sie:</p>
            <ul>
                <li>Einführung ins Thema Chatbot</li>
                <li>Beispiele von Chatbots</li>
                <li>Wie funktionieren KI-basierte Chatbots?</li>
                <li>Funktionsumfang von Bubble Chat</li>
                <li>Erstellen von einfachen Frage-Antworte-Absichten</li>
                <li>Trainieren eines Chatbots</li>
                <li>Die wichtigsten Chatbot Metriken</li>
            </ul>
        </div>
        <div class="form-container" style="background-image: url('/img/layered-waves-haikei.svg');">
            <h2>Kostenlose Produkt-Demo anfordern</h2>
            <form name="demo-vereinbaren" data-netlify="true" data-netlify-honeypot="bot-field" action="/form-success/">
                <p hidden="">
                    <label for="bot-field">Nicht ausfüllen: <input type="text" name="bot-field"/></label><input type="text" name="subject"/>
                </p>
                <input type="hidden" name="subject" value="Bubble Chat Demo vereinbaren">
                <input class="input" type="text" name="firstname" placeholder="Vorname*" required value=""/>
                <input class="input" type="text" name="lastname" placeholder="Nachname*"  required value=""/>
                <input class="input" type="text" name="company" placeholder="Unternehmen*" required value=""/>
                <input class="input" type="text" name="phonenumber" placeholder="Telefonnummer" value=""/>
                <input class="input" type="email" name="email" placeholder="Geschäftliche E-Mail-Adresse*" required value=""/>
                <button type="submit" class="btn btn-primary">Kostenlose Demo</button>
            </form>
        </div>
    </div>
</div>
