---
layout: default
title: FAQ
---
<div class="faq-page">
    <div class="container">
        <h1>FAQ</h1>
        <h2>Allgemeine Fragen</h2>
        <div class="faq-component">
            <div class="faq-content">
                <div class="faq-articles">
                    <article class="faq-accordion">
                        <input type="checkbox" class="tgg-title" id="1">
                        <div class="faq-accordion-title">
                            <label for="1">
                            <h4>Welche Inhalte können verarbeitet werden.</h4>   
                            <span class="arrow-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgb(114, 46, 209)" viewBox="0 0 256 256">
                                <path d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"></path>
                                </svg>
                            </span>
                            </label>
                        </div>
                        <div class="faq-accordion-content">
                            <p>Bubble Chat ist spezialisiert auf die intepretation von Texten, wir können Inhalte, Kaptiel wie auch Tabellen aus extrahieren, verarbeiten und Bubble Chat mit diesen Informationen verbessern.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% getFAQCode %}

   