---
layout: default
title: Danke für Ihre Nachricht
eleventyExcludeFromCollections: true
---

<div class="form-success-page">

    <script>
        gtag('event', 'form_success_opened', {});
    </script>

    <div class="container common-form-layout">
        <div class="content">
            <h1>Vielen Dank für Ihre Nachricht.</h1>
            <p>Das Formular wurde erfolgreich abgeschickt. Wir sputen uns, um Ihnen schnellstmöglich eine kompetente Antwort zu geben.</p>
            <p>Ihr Bubble Chat Team</p>
        </div>
        <div class="form-container">
            <img src="/img/undraw_superhero.svg"/>
        </div>
    </div>

</div>
