---
layout: default
title: Danke für Ihre Anfrage
eleventyExcludeFromCollections: true
---

<div class="form-success-page">

    <div class="container common-form-layout">
        <div class="content">
            <h2>Sie sind grossartig. <i>Im Ernst.</i>
            </h2>

            <p>Vielen Dank für Ihre Anfrage.</p>
            <p>Wir sputen uns, um Ihnen schnellstmöglich eine kompetente Antwort zu geben.</p>
            <p>Ihr Bubble Chat Team</p>
        </div>
        <div class="form-container">
            <img src="/img/undraw_superhero.svg"/>
        </div>
    </div>

</div>
