---
layout: default
title: Datenschutzerklärung
---

<div class="container">
    <h1>Impressum</h1>
    <p>Impressum der Webseite der Apptiva AG. Kontakt: Apptiva AG, Eichweid 1, 6203 Sempach Station, Schweiz, 041 322 26 26, info@apptiva.ch</p>
    <h2>Kontaktadresse</h2>
    <p>Apptiva AG <br/>
Eichweid 1 <br/>
6203 Sempach Station <br/>
Schweiz

041 322 26 26 <br/>
        <info@apptiva.ch>
            <h2>Handelsregistereintrag</h2>
            <p>Eingetragener Firmenname: Apptiva AG <br/>
Nummer: CHE-300.253.749
</p>
            <h2>Haftungsausschluss</h2>
            <p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.</p>
            <p>Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p>
            <p>Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
</p>
            <h2>Haftung für Links</h2>
            <p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.
</p>
            <h2>Urheberrechte</h2>
            <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich der Firma Apptiva AG oder den speziell genannten Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.
</p>
            <h2>Über Bubble-Chat</h2>
            <p>Bubble-Chat ist ein interaktiver und intelligenter Chatbot, der in der Schweiz entwickelt wurde und es Ihrem Unternehmen ermöglicht, einen eigenen Chatbot zu integrieren. Durch die Funktion <a href="../funktionen/chatbot-tasks">
                    <b>Chatbot Tasks</b>
                </a> übernimmt Bubble-Chat automatisch Anfragen, analysiert sie und liefert präzise Antworten um die Kundenwünsche voll umfänglich zu erfüllen. Sollte der Chatbot spezifische Anfragen nicht beantworten können, wird ein <a href="../funktionen/live-chat">
                    <b>Live Chat</b>
                </a> mit Fachleuten hinzugezogen. Dank einer 
                            <a href="../funktionen/wissensdatenbanken">
                    <b>Wissensdatenbank</b>
                </a> kann der Chatbot auf eine zentrale Sammlung von Informationen zugreifen und mithilfe von GTP schnell und exakt Antworten liefern. </p>
        </p>
    </p>
</div>
