---
layout: default
title: Jobs
---

<div class="jobs-page">
    <div class="container">
        <h1>Jobs</h1>
        <h2>Marketing- und Akquise-Manager:in</h2>
        <p>40-60%, ab sofort</p>
        <p>Wir sind ein junges Software-Unternehmen und suchen Unterstützung.</p>
        <p>Bei uns findest Du spannende und abwechslungsreiche Arbeit vor. Hilf uns dabei, unsere Bekanntheit zu steigern und
            neue Kunden zu gewinnen. Es würde uns freuen, Dich schon bald kennen zu lernen!</p>
        <h3>Deine Aufgaben</h3>
        <ul>
            <li>Erstellen und Umsetzen von Marketingstrategien und -kampagnen für Bubble Chat</li>
            <li>Pflegen und Erweitern unserer Online-Präsenz auf verschiedenen Kanälen (Website, Social Media, Newsletter, etc.)</li>
            <li>Generieren und Qualifizieren von Leads durch gezielte Ansprache potenzieller Kunden</li>
            <li>Planen und Durchführen von Verkaufsgesprächen und Präsentationen</li>
            <li>Aufbauen und Pflegen von langfristigen Kundenbeziehungen</li>
        </ul>
        <h3>Dein Profil</h3>
        <ul>
            <li>Ausbildung oder Studium im Bereich Marketing, Kommunikation oder verwandten Fachgebieten</li>
            <li>Berufserfahrung im Bereich Marketing & Akquise</li>
            <li>Kenntnisse der schweizerischen Marktbedingungen und Branchentrends</li>
            <li>Ausgeprägte Kommunikations- und Verhandlungsfähigkeiten</li>
            <li>Hohe Eigeninitiative, Kreativität und Ergebnisorientierung</li>
            <li>Sehr gute Deutschkenntnisse in Wort und Schrift, gute Englischkenntnisse</li>
        </ul>
        <h3>Wir bieten Dir</h3>
        <ul>
            <li>"Work From Home". Wir arbeiten normalerweise von zu Hause aus.</li>
            <li>Du entscheidest über Deine Tätigkeiten, Deine Arbeitszeiten, Deine Ferienzeit und Deinen Lohn.</li>
            <li>Du arbeitest an spannenden Produkten wie z.B. Chatbots.</li>
            <li>Du hast die Chance, Dich bei uns zu entfalten.</li>
            <li>Du erlebst ein selbstorganisierendes Unternehmen am eigenen Leibe.</li>
        </ul>
        <p class="callToActionMail">Haben wir Dein Interesse geweckt? Dann freuen wir uns auf Deine Bewerbung mit Lebenslauf,
            Zeugnissen und Gehaltsvorstellung per E-Mail an
            <a href="mailto:info@bubble-chat.ch?subject=Bewerbung für Marketing- und Akquise-Manager:in">info@bubble-chat.ch</a>
        </p>
        <p class="callToActionPhone">Willst Du mehr erfahren? Ruf uns an!
            <a href="tel:+41413222626">041 322 26 26</a><br/> Wir freuen uns, von Dir zu hören.</p>
    </div>
</div>
