---
layout: default
title: Jobs
---

<div class="jobs-page">
    <div class="container">
        <h1>Jobs</h1>

        <h3>Zur Zeit haben wir keine offenen Stellen.</h3>

        <p>Wir freuen uns aber auch dann auf Deine Bewerbung, wenn keine Stellen vakant sind.</p>

        <p class="callToActionMail">Bitte sende Deine Initiativbewerbung an
            <a href="mailto:info@bubble-chat.ch?subject=Initiativbewerbung">info@bubble-chat.ch</a>
        </p>
        <p class="callToActionPhone">Willst Du mehr über Bubble Chat erfahren? Ruf uns an!
            <a href="tel:+41413222626">041 322 26 26</a><br/> Wir freuen uns, von Dir zu hören.</p>
    </div>
</div>
