---
layout: default
title: Kontakt
---

<div class="contact-page">

    <div class="container common-form-layout">
        <div class="content">
            <h2>Kontakt</h2>
            <p>Wir sind immer an einem Austausch interessiert. Zögern Sie nicht mit uns in Kontakt zu treten.</p>

            <div class="contact-infos">
                <p class="label">Telefon</p>
                <a href="tel:+41413222626" class="button">041 322 26 26</a>
                <p class="label">Mail</p>
                <a href="mailto:info@bubble-chat.ch" class="button">info@bubble-chat.ch</a>
                <p class="label">Chatbot</p>
                <a class="button">Chatten Sie via Chatbot</a>
            </div>
        </div>
        <div class="form-container" style="background-image: url('/img/layered-waves-haikei.svg');">
            <h3>Senden Sie uns eine Nachricht</h3>
            <form name="kontakt" data-netlify="true" data-netlify-honeypot="bot-field">
                <p hidden="">
                    <label for="bot-field">Nicht ausfüllen: <input type="text" name="bot-field"/></label><input type="text" name="subject"/>
                </p>
                <input class="input" type="text" name="firstname" placeholder="Vorname*" class="text-input" required value=""/>
                <input class="input" type="text" name="lastname" placeholder="Nachname*" class="text-input" required value=""/>
                <input class="input" type="text" name="company" placeholder="Unternehmen*" class="text-input" required value=""/>
                <input class="input" type="text" name="phonenumber" placeholder="Telefonnummer" class="text-input" value=""/>
                <input class="input" type="email" name="email" placeholder="Geschäftliche E-Mail-Adresse*" required class="text-input" value=""/>
                <textarea class="input" name="message" rows="6" placeholder="Ihre Nachricht" class="text-input"></textarea>
                <button type="submit">Absenden</button>
            </form>
        </div>
    </div>

    {% image "/img/gebaeude.jpg", "gebaeude-img", "Unser Büro", "100vw", [750, 1080, 1366, 1920] %}

    <div class="contact-location">
        <div class="container">
            <h3>Standort</h3>
            <p>Unser Büro befindet sich in Sempach an der Autobahn A2 und der Bahnlinie zwischen Luzern und Sursee.</p>

            <div class="address">
                <p>Apptiva AG</p>
                <p>Neuenkirchstrasse 19</p>
                <p>6203 Sempach Station</p>
            </div>

            <iframe title="Google Maps" frameborder="0" height="550px" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?q=Apptiva%20AG,%20Neuenkirchstrasse%2019,%20Sempach%20Station&amp;hl=de&amp;geocode=+&amp;hnear=Apptiva%20AG+Neuenkirchstrasse%2019,+Sempach%20Station&amp;t=m&amp;z=10&amp;iwloc=A&amp;output=embed" width="100%"></iframe>
        </div>
    </div>

</div>
