---
layout: default
title: Kostenlos testen
---

<div class="kostenlos-testen-page">

    <div class="container common-form-layout">
        <div class="content">
            <div class="subtitle">Kostenlos testen</div>
            <h1>Fordern Sie jetzt Ihren gratis Testzugang an!</h1>
            <p>Erhalten Sie kostenlosen Zugang zu Bubble Chat und lassen Sie sich begeistern.</p>
            <p>Folgendes wartet auf Sie:</p>
            <ul>
                <li>Einführung durch einen Mitarbeiter von uns</li>
                <li>100% kostenlose und unverbindliche Nutzung</li>
                <li>Zugriff auf vollen Funktionsumfang</li>
                <li>Flexible Nutzungsdauer</li>
            </ul>
        </div>
        <div class="form-container" style="background-image: url('/img/layered-waves-haikei.svg');">
            <h2>Kostenlose Testumgebung anfordern</h2>
            <form name="demo-vereinbaren" data-netlify="true" data-netlify-honeypot="bot-field" action="/form-success/">
                <p hidden="">
                    <label for="bot-field">Nicht ausfüllen: <input type="text" name="bot-field"/></label><input type="text" name="subject"/>
                </p>
                <input type="hidden" name="subject" value="Bubble Chat Demo vereinbaren">
                <input class="input" type="text" name="firstname" placeholder="Vorname*" required value=""/>
                <input class="input" type="text" name="lastname" placeholder="Nachname*" required value=""/>
                <input class="input" type="text" name="company" placeholder="Unternehmen*" required value=""/>
                <input class="input" type="text" name="phonenumber" placeholder="Telefonnummer" value=""/>
                <input class="input" type="email" name="email" placeholder="Geschäftliche E-Mail-Adresse*" required value=""/>
                <button type="submit" class="btn btn-primary">Gratis Testzugang anfordern</button>
            </form>
        </div>
    </div>

</div>
