---
layout: default
title: Preise
---

<div class="preise-page">
    <div class="container">
        <h1>Preise</h1>
        <p>Bubble Chat ist modular aufgebaut und kann nahezu beliebig erweitert werden. Starten Sie mit einem FAQ Chatbot, der oft gestellte Fragen automatisiert beantwortet und machen Sie ihn zu einer unverzichtbaren Arbeitskraft in Ihrem Unternehmen.</p>
        <div class="plans">
            <div class="plan">
                <div class="content header default">
                    <h2>Starterkit</h2>
                    <div class="subtitle">Beantwortet selbstständig oft gestellte Fragen.</div>
                    <div class="price">
                        <p class="amount">
                            <span class="currency">CHF</span>490<span class="period">/ Monat</span>
                        </p>
                    </div>
                </div>
                <div class="content features">
                    <ul>
                        <li>Integration in Webseite</li>
                        <li>Einsatz von Künstlicher Intelligenz</li>
                        <li>Einsatz von NLP (Natural Language Processing)</li>
                        <li>Sprach- und Texteingabe</li>
                        <li>Chat bewerten</li>
                        <li>Feedback geben</li>
                        <li>Analytics und Chatbot KPIs</li>
                        <li>Betrieb, Hosting und Wartung</li>
                        <li>Flexibel erweiterbar</li>
                    </ul>
                    <a href="/jetzt-kaufen/" class="btn btn-block">Jetzt bestellen</a>
                </div>
            </div>
            <div class="plan">
                <div class="top-choice">am beliebtesten</div>
                <div class="content header top">
                    <h2>Professional</h2>
                    <div class="subtitle">Lernt selbständig Inhalte von vordefinierten Quellen und beantwortet beliebige Fragen.</div>
                    <div class="price">
                        <p class="amount">
                            <span class="currency">CHF</span>990<span class="period">/ Monat</span>
                        </p>
                    </div>
                </div>
                <div class="content features">
                    <ul>
                        <li>Alles vom Angebot <b>Starterkit</b>
                        </li>
                        <li>Mehrsprachigkeit</li>
                        <li>Live-Chat mit Kundendienst</li>
                        <li>Verwendung von <a href="/funktionen/wissensdatenbanken/">Wissensdatenbanken</a><br/>PDF, Word, Webseiten, etc.</li>
                        <li>Bubble Chat Assistent: Erstellung von Beispielformulierungen, KI-gestütztes Chatbot Training</li>
                        <li>Persönliche Betreuung durch unsere Experten</li>
                    </ul>
                    <a href="/jetzt-kaufen/" class="btn btn-block">Jetzt bestellen</a>
                </div>
            </div>
            <div class="plan">
                <div class="content header default">
                    <h2>Enterprise</h2>
                    <div class="subtitle">Chatbots für verschiedene Unternehmensbereiche integriert in Geschäftsprozesse.</div>
                    <div class="price">
                        <p class="amount">
                            <span class="from">ab</span>
                            <span class="currency">CHF</span>1'990<span class="period">/ Monat</span>
                        </p>
                    </div>
                </div>
                <div class="content features">
                    <ul>
                        <li>Alles vom Angebot <b>Professional</b>
                        </li>
                        <li>Individuelles SLA</li>
                        <li>Integration von Umsystemen<br/>z.B. CRM oder ERP</li>
                        <li>Ausführen eigener Geschäftslogik</li>
                        <li>Eigene Chat-Clients<br/>z.B. in Mobile App</li>
                        <li>Benutzerauthentifizierung via SAML</li>
                        <li>Betrieb On Premise</li>
                    </ul>
                    <a href="/kontakt/" class="btn btn-block">Kontakt aufnehmen</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'sections/cta-request-demo-light.njk' %}
</div>
