---
layout: default
title: Preise
---

<div class="preise-page">
    <div class="container">
        <h1>Preise</h1>

        <p>Bubble Chat ist modular aufgebaut und kann nahezu beliebig erweitert werden.
        Starten Sie mit einem FAQ Chatbot, der oft gestellte Fragen automatisiert beantwortet und machen Sie ihn zu einer unverzichtbaren Arbeitskraft in Ihrem Unternehmen.</p>

        <div class="plans">
            <div class="plan">
                <div class="content header faq">
                    <h3>FAQ Chatbot</h3>
                    <div class="subtitle">Beantwortet selbstständig oft gestellte Fragen.</div>
                    <div class="price">
                        <span class="currency">CHF</span>
                        <p class="amount">250.-<span class="period">/ Monat</span></p>
                    </div>
                </div>
                <div class="content features">
                    <ul>
                        <li>Integration in Ihre Webseite</li>
                        <li>Einsatz von KI (Künstliche Intelligenz)</li>
                        <li>Einsatz von NLP (Natural Language Processing)</li>
                        <li>Trainiert mit Smalltalk-Fähigkeiten</li>
                        <li>Sprach- und Texteingabe</li>
                        <li>Chatverlauf per E-Mail erhalten</li>
                        <li>Chat bewerten und Feedback geben</li>
                        <li>Analytics und Chatbot KPIs</li>
                        <li>Betrieb, Hosting, Wartung und Updates</li>
                        <li>Flexibel erweiterbar</li>
                    </ul>

                    <a href="/jetzt-kaufen/" class="btn btn-block">Jetzt bestellen</a>
                </div>
            </div>

            <div class="plan">
                <div class="content header enterprise">
                    <h3>Enterprise Chatbot</h3>
                    <div class="subtitle">Chatbots für verschiedene Unternehmensbereiche integriert in Geschäftsprozesse.</div>

                    <a href="/kontakt/" class="button button-action">Unverbindliche Preisanfrage</a>
                </div>
                <div class="content features">
                    <ul>
                        <li>Alles vom Angebot &laquo;FAQ Chatbot&raquo;</li>
                        <li>Festpreisvertrag mit jährlicher Abrechnung</li>
                        <li>Individuelles Service-Level-Agreement</li>
                        <li>Integration von Umsystemen (z.B. CRM)</li>
                        <li>Ausführen von eigener Geschäftslogik</li>
                        <li>Live-Chat mit Kundendienst</li>
                        <li>Mehrsprachiger Chatbot</li>
                        <li>Eigene Chat-Clients (z.B. in Mobile App)</li>
                        <li>Benutzerauthentifizierung via SAML</li>
                        <li>Betrieb in der Cloud oder On Premise</li>
                        <li>Persönliche Betreuung durch unsere Experten</li>
                    </ul>
                    <a href="/kontakt/" class="btn btn-block">Kontakt aufnehmen</a>
                </div>
            </div>
        </div>

    </div>

    {% include 'sections/cta-request-demo-light.njk' %}

</div>
