---
layout: default
title: Über uns
footerStyle: gray
---
<div class="ueber-uns-page">
    <div class="container">
        <h1>Über uns</h1>

        <p>Bubble Chat ist ein Produkt der Apptiva AG aus Sempach, Luzern.</p>
        <p>Seit 2016 entwickeln wir kundenindividuelle Chatbots für zahlreiche Schweizer Unternehmen. Über all diese Jahre hat sich
        ein Set an Tools, Technologien und Vorgehensweisen angesammelt, welche wir in unserer Lösung Bubble Chat als <i>Best Practice</i> vereinen und bei unseren Projekten auch selber nutzen.</p>
        <p>Wir sind davon überzeugt, dass ein Chatbot nur erfolgreich ist, wenn der Inhalt von denjenigen verwaltet wird, die damit am besten vertraut sind. Bubble Chat wurde entwickelt, um dies zu ermöglichen.</p>
        <p>Unsere Kunden betrachten wir als Partner und wir setzen alles daran, gemeinsam einen erfolgreichen Chatbot zu erstellen. Wir haben keinen Verkäufer, der Ihnen unsere Lösung aufschwatzt. Überzeugen Sie sich selbst.</p>

    </div>

    <div class="customers-container">
        <div class="container">
            <h2>Auswahl unserer Kunden</h2>
            <div>
                {% include 'partials/customers.njk' %}
            </div>
        </div>
    </div>

    {% image "/img/buero.jpg", "Unser Büro", {"class":"buero-img"} %}

    <div class="team-container">
        <div class="container">
            <h1>Unser Team</h1>
            {% include 'partials/team.njk' %}

            <div class="team-contact-cta">
                <p>Wir sind immer an einem Austausch interessiert. Zögern Sie nicht, mit uns in Kontakt zu treten.</p>
                <a href="/kontakt/" class="button button-action">Kontaktieren Sie uns</a>
            </div>
        </div>
    </div>
</div>
